Repository apache/bookkeeper, pull requests merged in 2018-09, with the labels that each got.

#1611 BP-35: 128 bits support
  site/bps/BP-35-128-bits-support.md
  site/community/bookkeeper_proposals.md
Labels: BP, area/bookie, area/client, area/protocol, release/4.9.0, type/proposal

#1663 [dev] clean up merge script
  dev/bk-merge-pr.py
Labels: area/tools, release/4.9.0, type/improvement

#1668 ISSUE #1653: Clients with zk:// uri's should read layout from store
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/zk/ZKMetadataDriverBase.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/TestLedgerManager.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/zk/ZKMetadataDriverBaseStaticTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/test/BookKeeperClusterTestCase.java
Labels: area/client, release/4.9.0, type/bug

#1669 ISSUE 1662: LocalBookKeeper use layout manager and ledger path configs
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/AbstractConfiguration.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/LocalBookKeeper.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/conf/AbstractConfigurationTest.java
Labels: area/client, release/4.9.0, type/bug

#1667 Utility to dump/restore ledger metadata to/from file
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/AbstractConfiguration.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/LedgerIdFormatter.java
  tests/integration/smoke/src/test/java/org/apache/bookkeeper/tests/integration/TestBookieShellCluster.java
Labels: area/tools, release/4.9.0, type/improvement

#1672 Issue #850: Added request context across client and bookies.
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/util/MdcUtils.java
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/util/OrderedExecutor.java
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/util/OrderedScheduler.java
  bookkeeper-proto/src/main/proto/BookkeeperProtocol.proto
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeper.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/AbstractConfiguration.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/BookieRequestProcessor.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/PerChannelBookieClient.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/OrderedGenericCallback.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/MdcContextTest.java
  microbenchmarks/src/main/java/org/apache/bookkeeper/proto/ProtocolBenchmark.java
Labels: area/logging, release/4.9.0, type/feature

#1684 Fix license issues in master
  bookkeeper-dist/src/main/resources/LICENSE-all.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-server.bin.txt
  bookkeeper-dist/src/main/resources/NOTICE-all.bin.txt
  bookkeeper-dist/src/main/resources/NOTICE-server.bin.txt
Labels: area/release, release/4.8.0, release/4.9.0, type/bug

#1688 Issue 1687: Using eval instead of exec to handle quotes in healtcheck.sh
  docker/scripts/healthcheck.sh
Labels: area/docker, release/4.9.0, type/bug

#1686 Shutdown appropriate EntryLogger instance.
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/EntryLogTest.java
Labels: area/bookie, release/4.9.0, type/bug

#1685 [table service] remove build warnings "Import xxx.proto but not used"
  stream/proto/src/main/proto/cluster.proto
  stream/proto/src/main/proto/kv_store.proto
  stream/proto/src/main/proto/stream.proto
Labels: area/tableservice, release/4.9.0, type/task

#1689 Bump journal and fileinfo version.
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ServerConfiguration.java
  conf/bk_server.conf
  site/_data/config/bk_server.yaml
Labels: area/bookie, area/config, release/4.9.0, type/task

#1640 Issue #1639: Etcd based metadata driver implementation
  metadata-drivers/etcd/pom.xml
  metadata-drivers/etcd/src/main/java/com/coreos/jetcd/internal/impl/EtcdClientUtils.java
  metadata-drivers/etcd/src/main/java/com/coreos/jetcd/internal/impl/EtcdConnectionManager.java
  metadata-drivers/etcd/src/main/java/com/coreos/jetcd/internal/impl/package-info.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/Etcd64bitIdGenerator.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdBookieRegister.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdConstants.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdLayoutManager.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdLedgerManager.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdLedgerManagerFactory.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdMetadataBookieDriver.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdMetadataClientDriver.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdMetadataDriverBase.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdRegistrationClient.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdRegistrationManager.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdUtils.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdWatchClient.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdWatcher.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/LedgerMetadataConsumer.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/helpers/KeyIterator.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/helpers/KeySetReader.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/helpers/KeyStream.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/helpers/RevisionedConsumer.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/helpers/ValueStream.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/helpers/package-info.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/package-info.java
  metadata-drivers/etcd/src/test/java/org/apache/bookkeeper/metadata/etcd/Etcd64bitIdGeneratorTest.java
  metadata-drivers/etcd/src/test/java/org/apache/bookkeeper/metadata/etcd/EtcdClusterTest.java
  metadata-drivers/etcd/src/test/java/org/apache/bookkeeper/metadata/etcd/EtcdCookieTest.java
  metadata-drivers/etcd/src/test/java/org/apache/bookkeeper/metadata/etcd/EtcdLayoutManagerTest.java
  metadata-drivers/etcd/src/test/java/org/apache/bookkeeper/metadata/etcd/EtcdLedgerManagerTest.java
  metadata-drivers/etcd/src/test/java/org/apache/bookkeeper/metadata/etcd/EtcdRegistrationTest.java
  metadata-drivers/etcd/src/test/java/org/apache/bookkeeper/metadata/etcd/helpers/HelpersTest.java
  metadata-drivers/etcd/src/test/java/org/apache/bookkeeper/metadata/etcd/helpers/KeySetReaderTest.java
  metadata-drivers/etcd/src/test/java/org/apache/bookkeeper/metadata/etcd/integration/SmokeTest.java
  metadata-drivers/etcd/src/test/java/org/apache/bookkeeper/metadata/etcd/testing/EtcdBKClusterTestBase.java
  metadata-drivers/etcd/src/test/java/org/apache/bookkeeper/metadata/etcd/testing/EtcdContainer.java
  metadata-drivers/etcd/src/test/java/org/apache/bookkeeper/metadata/etcd/testing/EtcdTestBase.java
  metadata-drivers/etcd/src/test/resources/log4j.properties
  metadata-drivers/pom.xml
  pom.xml
Labels: area/metadata, release/4.9.0, type/feature

#1691 [table service][python] introduce a python client for table service
  pom.xml
  stream/clients/python/.coveragerc
  stream/clients/python/.flake8
  stream/clients/python/.gitignore
  stream/clients/python/README.md
  stream/clients/python/bookkeeper/__init__.py
  stream/clients/python/bookkeeper/admin/__init__.py
  stream/clients/python/bookkeeper/admin/client.py
  stream/clients/python/bookkeeper/admin/exceptions.py
  stream/clients/python/bookkeeper/admin/namespace.py
  stream/clients/python/bookkeeper/admin/namespaces.py
  stream/clients/python/bookkeeper/common/__init__.py
  stream/clients/python/bookkeeper/common/constants.py
  stream/clients/python/bookkeeper/common/datetime_helpers.py
  stream/clients/python/bookkeeper/common/exceptions.py
  stream/clients/python/bookkeeper/common/future/__init__.py
  stream/clients/python/bookkeeper/common/future/_helpers.py
  stream/clients/python/bookkeeper/common/future/base.py
  stream/clients/python/bookkeeper/common/future/polling.py
  stream/clients/python/bookkeeper/common/general_helpers.py
  stream/clients/python/bookkeeper/common/grpc_helpers.py
  stream/clients/python/bookkeeper/common/protobuf_helpers.py
  stream/clients/python/bookkeeper/common/retry.py
  stream/clients/python/bookkeeper/common/service_uri.py
  stream/clients/python/bookkeeper/kv/__init__.py
  stream/clients/python/bookkeeper/kv/client.py
  stream/clients/python/bookkeeper/kv/exceptions.py
  stream/clients/python/bookkeeper/kv/futures.py
  stream/clients/python/bookkeeper/proto/cluster_pb2.py
  stream/clients/python/bookkeeper/proto/common_pb2.py
  stream/clients/python/bookkeeper/proto/kv_pb2.py
  stream/clients/python/bookkeeper/proto/kv_rpc_pb2.py
  stream/clients/python/bookkeeper/proto/kv_rpc_pb2_grpc.py
  stream/clients/python/bookkeeper/proto/kv_store_pb2.py
  stream/clients/python/bookkeeper/proto/storage_pb2.py
  stream/clients/python/bookkeeper/proto/storage_pb2_grpc.py
  stream/clients/python/bookkeeper/proto/stream_pb2.py
  stream/clients/python/bookkeeper/types.py
  stream/clients/python/examples/admin.py
  stream/clients/python/noxfile.py
  stream/clients/python/pylint.config.py
  stream/clients/python/setup.cfg
  stream/clients/python/setup.py
  stream/clients/python/tests/unit/__init__.py
  stream/clients/python/tests/unit/bookkeeper/common/future/test__helpers.py
  stream/clients/python/tests/unit/bookkeeper/common/future/test_polling.py
  stream/clients/python/tests/unit/bookkeeper/common/test_grpc_helpers.py
  stream/clients/python/tests/unit/bookkeeper/common/test_protobuf_helpers.py
  stream/clients/python/tests/unit/bookkeeper/test_futures.py
Labels: area/client, area/tableservice, release/4.9.0, type/task

#1693 autorecovery-use-metadata-driver (part 1) : move AutoRecoveryMain to use MetadataBookieDriver
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/AutoRecoveryMain.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/AutoRecoveryMainTest.java
Labels: area/autorecovery, release/4.9.0, type/improvement

#1692 Enable storeSystemTimeAsLedgerUnderreplicatedMarkTime
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/AbstractConfiguration.java
  conf/bk_server.conf
  site/_data/config/bk_server.yaml
Labels: area/bookie, area/config, release/4.9.0, type/task

#1694 autorecovery-use-metadata-driver (part 2) : remove ZooKeeper from ReplicationWorker
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/AutoRecoveryMain.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/ReplicationWorker.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/AuditorPeriodicCheckTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/TestReplicationWorker.java
Labels: area/autorecovery, release/4.9.0, type/task

#1698 [table service][python] add hash router for computing the hash routing value for a given key
  buildtools/src/main/resources/bookkeeper/suppressions.xml
  stream/clients/python/bookkeeper/common/router/__init__.py
  stream/clients/python/bookkeeper/common/router/router.py
  stream/clients/python/setup.py
  stream/clients/python/tests/unit/bookkeeper/common/router/test_router.py
  stream/common/src/main/java/org/apache/bookkeeper/common/hash/Murmur3.java
  stream/common/src/main/java/org/apache/bookkeeper/common/router/AbstractHashRouter.java
  stream/common/src/test/java/org/apache/bookkeeper/common/router/HashRouterTest.java
Labels: area/client, area/tableservice, release/4.9.0, type/task

#1697 [tools] Add a perf tool for benchmarking bookkeeper
  bin/bkperf
  conf/log4j.cli.properties
  pom.xml
  tools/perf/README.md
  tools/perf/pom.xml
  tools/perf/src/main/java/org/apache/bookkeeper/tools/perf/BKPerf.java
  tools/perf/src/main/java/org/apache/bookkeeper/tools/perf/DlogPerfCommandGroup.java
  tools/perf/src/main/java/org/apache/bookkeeper/tools/perf/PerfCommandGroup.java
  tools/perf/src/main/java/org/apache/bookkeeper/tools/perf/dlog/PerfReader.java
  tools/perf/src/main/java/org/apache/bookkeeper/tools/perf/dlog/PerfWriter.java
  tools/perf/src/main/java/org/apache/bookkeeper/tools/perf/dlog/ReadCommand.java
  tools/perf/src/main/java/org/apache/bookkeeper/tools/perf/dlog/WriteCommand.java
  tools/perf/src/main/java/org/apache/bookkeeper/tools/perf/dlog/package-info.java
  tools/perf/src/main/java/org/apache/bookkeeper/tools/perf/package-info.java
  tools/perf/src/main/java/org/apache/bookkeeper/tools/perf/utils/PaddingDecimalFormat.java
  tools/perf/src/main/java/org/apache/bookkeeper/tools/perf/utils/package-info.java
  tools/pom.xml
Labels: area/dlog, area/tools, release/4.9.0, type/feature

#1706 [build] Ignore pid files
  .gitignore
Labels: area/build, release/4.9.0, type/improvement

#1702 Issue #1700: fixed: TimedRunnable does not anticipate exception from wrapped runnable
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/util/OrderedExecutor.java
Labels: area/stats, release/4.9.0, type/bug

#1695 autorecovery-use-metadata-driver (part 3) : remove zookeeper from Auditor class
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/Auditor.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/AuditorElector.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/AutoRecoveryMain.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/ReplicationWorker.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/AuditorBookieTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/AuditorLedgerCheckerTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/AuditorPeriodicBookieCheckTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/AuditorPeriodicCheckTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/server/http/TestHttpService.java
Labels: area/autorecovery, area/metadata, release/4.9.0, type/improvement

#1704 [table service][logging] improve logging at zk storage container manager
  stream/storage/impl/src/main/java/org/apache/bookkeeper/stream/storage/impl/sc/ZkStorageContainerManager.java
Labels: area/logging, area/tableservice, release/4.9.0, type/improvement

#1705 [table service] improve the bookkeeper script to better detect whether table service is enabled or not
  bin/bookkeeper
  conf/bk_server.conf
Labels: area/build, release/4.9.0, type/improvement

#1708 [table service] introduce a client interceptor to attach routing information for table service rpc calls
  stream/clients/java/base/src/main/java/org/apache/bookkeeper/clients/impl/channel/StorageServerChannel.java
  stream/clients/java/kv/src/main/java/org/apache/bookkeeper/clients/impl/kv/interceptors/RoutingHeaderClientInterceptor.java
  stream/clients/java/kv/src/main/java/org/apache/bookkeeper/clients/impl/kv/interceptors/package-info.java
  stream/clients/java/kv/src/test/java/org/apache/bookkeeper/clients/impl/kv/interceptors/RoutingHeaderClientInterceptorTest.java
  stream/proto/src/main/java/org/apache/bookkeeper/stream/protocol/ProtocolConstants.java
Labels: area/client, area/tableservice, release/4.9.0, type/feature

#1711 Upgrade Mockito to 2.22.0 in order to support build on JDK11
  pom.xml
Labels: area/tests, release/4.8.0, type/task

#1709 [logging] PendingReadOp should log the error code when failing requests
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/PendingReadOp.java
Labels: area/logging, release/4.9.0, type/improvement

#1714 Fix release notes for 4.8.0
  site/docs/4.8.0/overview/releaseNotes.md
  site/releases.md
Labels: area/release, release/4.9.0, type/task

#1717 [table service] [client] Provide a timeout mechanism on closing the client
  stream/clients/java/all/src/main/java/org/apache/bookkeeper/clients/StorageClientImpl.java
  stream/common/src/main/java/org/apache/bookkeeper/common/util/AutoAsyncCloseable.java
Labels: area/client, area/tableservice, release/4.9.0, type/improvement

#1718 [integration tests] Dump container logs before stopping tests
  tests/integration-tests-topologies/src/main/java/org/apache/bookkeeper/tests/containers/BookieContainer.java
  tests/integration-tests-topologies/src/main/java/org/apache/bookkeeper/tests/containers/ChaosContainer.java
  tests/integration-tests-utils/src/main/java/org/apache/bookkeeper/tests/integration/utils/DockerUtils.java
Labels: area/tests, release/4.9.0, type/improvement

#1719 [table service][common] add BytesHashRouter
  stream/clients/java/base/src/main/java/org/apache/bookkeeper/clients/impl/routing/RangeRouter.java
  stream/common/src/main/java/org/apache/bookkeeper/common/hash/Murmur3.java
  stream/common/src/main/java/org/apache/bookkeeper/common/router/BytesHashRouter.java
  stream/common/src/test/java/org/apache/bookkeeper/common/router/HashRouterTest.java
Labels: area/tableservice, release/4.9.0, type/task
