Repository apache/bookkeeper, pull requests merged in 2018-11, with the labels that each got.

#1779 [tests] Issue #1752: disable etcd tests in normal builds
  metadata-drivers/etcd/pom.xml
Labels: area/tests, release/4.9.0, type/bug

#1778 [table service] add default port to service hosts
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/net/ServiceURI.java
  bookkeeper-common/src/test/java/org/apache/bookkeeper/common/net/ServiceURITest.java
Labels: area/tableservice, release/4.8.1, release/4.9.0, type/task

#1777 Issue 1767: security vulnerabilities in 3rd party dependencies
  bookkeeper-dist/src/assemble/bin-all.xml
  bookkeeper-dist/src/assemble/bin-server.xml
  bookkeeper-dist/src/main/resources/LICENSE-all.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-server.bin.txt
  bookkeeper-dist/src/main/resources/deps/jline-2.11/LICENSE
  pom.xml
Labels: area/build, area/security, release/4.9.0, type/bug

#1765 Use default metric registry in Prometheus exporter
  bookkeeper-stats-providers/prometheus-metrics-provider/src/main/java/org/apache/bookkeeper/stats/prometheus/PrometheusMetricsProvider.java
Labels: area/stats, release/4.9.0, type/improvement

#1784 Upgrade to Netty 4.1.31 and use individual dependencies
  bookkeeper-dist/src/assemble/bin-all.xml
  bookkeeper-dist/src/assemble/bin-server.xml
  bookkeeper-dist/src/main/resources/LICENSE-all.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-server.bin.txt
  bookkeeper-dist/src/main/resources/NOTICE-all.bin.txt
  bookkeeper-dist/src/main/resources/NOTICE-server.bin.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.22.Final/LICENSE.webbit.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.31.Final/LICENSE.base64.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.31.Final/LICENSE.jbzip2.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.31.Final/LICENSE.jfastlz.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.31.Final/LICENSE.jsr166y.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.31.Final/LICENSE.libdivsufsort.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.31.Final/LICENSE.protobuf.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.31.Final/LICENSE.slf4j.txt
  bookkeeper-server/pom.xml
  bookkeeper-stats-providers/prometheus-metrics-provider/pom.xml
  microbenchmarks/pom.xml
  pom.xml
  stream/distributedlog/core/pom.xml
Labels: area/bookie, area/client, release/4.9.0, type/improvement

#1789 Cache InetSocketAddress if hostname is IPAddress
  bookkeeper-server/src/main/java/org/apache/bookkeeper/net/BookieSocketAddress.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/net/BookieSocketAddressTest.java
Labels: area/bookie, area/client, release/4.9.0, type/improvement

#1792 Issue #1791: Read Submission should bypass OSE Threads
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerHandle.java
Labels: area/bookie, area/client, release/4.9.0, type/improvement

#1794 [tools] add cookie related commands
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieException.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Cookie.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/discover/ZKRegistrationManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/cookie/CookieCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/cookie/CreateCookieCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/cookie/DeleteCookieCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/cookie/GenerateCookieCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/cookie/GetCookieCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/cookie/UpdateCookieCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/cookie/package-info.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/helpers/BookieShellCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/helpers/ClientCommand.java
  tools/all/src/main/java/org/apache/bookkeeper/tools/cli/commands/CookieCommandGroup.java
  tools/all/src/main/resources/META-INF/services/org.apache.bookkeeper.tools.framework.CommandGroup
  tools/all/src/test/java/org/apache/bookkeeper/tools/cli/commands/cookie/CreateCookieCommandTest.java
  tools/all/src/test/java/org/apache/bookkeeper/tools/cli/commands/cookie/DeleteCookieCommandTest.java
  tools/all/src/test/java/org/apache/bookkeeper/tools/cli/commands/cookie/GenerateCookieCommandTest.java
  tools/all/src/test/java/org/apache/bookkeeper/tools/cli/commands/cookie/GetCookieCommandTest.java
  tools/all/src/test/java/org/apache/bookkeeper/tools/cli/commands/cookie/UpdateCookieCommandTest.java
  tools/all/src/test/java/org/apache/bookkeeper/tools/cli/helpers/BookieShellCommandTest.java
  tools/all/src/test/java/org/apache/bookkeeper/tools/cli/helpers/CookieCommandTestBase.java
  tools/framework/src/main/java/org/apache/bookkeeper/tools/common/BKCommand.java
Labels: area/tools, release/4.7.3, release/4.8.2, release/4.9.0, type/feature

#1793 [tools] improve bkctl help message
  tools/all/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookieCommandGroup.java
  tools/all/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookiesCommandGroup.java
  tools/all/src/main/java/org/apache/bookkeeper/tools/cli/commands/LedgerCommandGroup.java
  tools/framework/src/main/java/org/apache/bookkeeper/tools/common/BKCommandCategories.java
  tools/framework/src/main/java/org/apache/bookkeeper/tools/framework/CliCommand.java
  tools/framework/src/main/java/org/apache/bookkeeper/tools/framework/CliSpec.java
  tools/framework/src/main/java/org/apache/bookkeeper/tools/framework/Command.java
  tools/framework/src/main/java/org/apache/bookkeeper/tools/framework/CommandUtils.java
  tools/stream/src/main/java/org/apache/bookkeeper/stream/cli/ClusterCommandGroup.java
  tools/stream/src/main/java/org/apache/bookkeeper/stream/cli/NamespaceCommandGroup.java
  tools/stream/src/main/java/org/apache/bookkeeper/stream/cli/TableAdminCommandGroup.java
  tools/stream/src/main/java/org/apache/bookkeeper/stream/cli/TableCommandGroup.java
Labels: area/tools, release/4.9.0, type/improvement

#1801 [build] Ignore `versionsBackup` file generated by `mvn versions:set`
  .gitignore
Labels: area/build, release/4.9.0, type/improvement

#1805 Fixed Auth with v2 protocol
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/AuthHandler.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/BookieRequestProcessor.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/PerChannelBookieClient.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/auth/TestAuth.java
Labels: area/security, release/4.7.3, release/4.8.2, release/4.9.0, type/bug

#1803 Fix indentation in BP-34 doc
  site/bps/BP-34-cluster-metadata-checker.md
Labels: area/documentation, release/4.9.0, type/bug

#1788 Fix bugs in DefaultEnsemblePlacementPolicy
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/DefaultEnsemblePlacementPolicy.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/GenericEnsemblePlacementPolicyTest.java
Labels: area/client, release/4.9.0, type/bug

#1798 [tools] package bookkeeper tools into a separated distribution
  .travis_scripts/build.sh
  bin/common.sh
  bookkeeper-dist/bkctl/pom.xml
  bookkeeper-dist/pom.xml
  bookkeeper-dist/src/assemble/bkctl.xml
  bookkeeper-dist/src/main/resources/LICENSE-bkctl.bin.txt
  bookkeeper-dist/src/main/resources/NOTICE-bkctl.bin.txt
Labels: area/tools, release/4.9.0, type/feature

#1797 Move version out of LedgerMetadata
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/ScanAndCompareGarbageCollector.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeper.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeperAdmin.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerCreateOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerFragmentReplicator.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerHandle.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerHandleAdv.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerMetadata.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerMetadataBuilder.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerOpenOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/MetadataUpdateLoop.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/ReadOnlyLedgerHandle.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/UpdateLedgerOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/AbstractZkLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/CleanupLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/MSLedgerManagerFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/BookkeeperInternalCallbacks.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/BookieLedgerIndexer.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/http/service/ListLedgerService.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/CompactionTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/TestGcOverreplicatedLedger.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/BookieRecoveryTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/ClientUtil.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/HandleFailuresTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/LedgerClose2Test.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/LedgerRecovery2Test.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/MetadataUpdateLoopTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/MockBookKeeperTestCase.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/MockLedgerHandle.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/ParallelLedgerRecoveryTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestLedgerFragmentReplication.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestSequenceRead.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestWatchEnsembleChange.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/AbstractZkLedgerManagerTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/GcLedgersTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/LedgerManagerIteratorTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/MockLedgerManager.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/AuditorPeriodicBookieCheckTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/server/http/TestHttpService.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdLedgerManager.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/LedgerMetadataConsumer.java
  metadata-drivers/etcd/src/test/java/org/apache/bookkeeper/metadata/etcd/EtcdLedgerManagerTest.java
  tests/backward-compat/recovery-no-password/src/test/groovy/org/apache/bookkeeper/tests/backwardcompat/TestCompatRecoveryNoPassword.groovy
Labels: area/metadata, release/4.9.0, type/improvement

#1786 BP-36: Stats documentation annotation
  site/bps/BP-36-stats-documentation-annotation.md
  site/community/bookkeeper_proposals.md
Labels: area/stats, area/tools, release/4.9.0, type/proposal

#1787 [stats] introduce `StatsDoc` annotation for better documenting metrics exposed by bookkeeper
  bookkeeper-common/src/test/java/org/apache/bookkeeper/test/TestStatsProvider.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookKeeperServerStats.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Bookie.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/stats/BookieStats.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/stats/package-info.java
  bookkeeper-stats-providers/codahale-metrics-provider/src/main/java/org/apache/bookkeeper/stats/CodahaleMetricsProvider.java
  bookkeeper-stats-providers/codahale-metrics-provider/src/main/java/org/apache/bookkeeper/stats/codahale/CodahaleMetricsProvider.java
  bookkeeper-stats-providers/prometheus-metrics-provider/src/main/java/org/apache/bookkeeper/stats/prometheus/PrometheusMetricsProvider.java
  bookkeeper-stats-providers/twitter-finagle-provider/src/main/java/org/apache/bookkeeper/stats/twitter/finagle/FinagleStatsProvider.java
  bookkeeper-stats-providers/twitter-ostrich-provider/src/main/java/org/apache/bookkeeper/stats/twitter/ostrich/OstrichProvider.java
  bookkeeper-stats-providers/twitter-science-provider/src/main/java/org/apache/bookkeeper/stats/twitter/science/TwitterStatsProvider.java
  bookkeeper-stats/src/main/java/org/apache/bookkeeper/stats/CachingStatsProvider.java
  bookkeeper-stats/src/main/java/org/apache/bookkeeper/stats/Stats.java
  bookkeeper-stats/src/main/java/org/apache/bookkeeper/stats/StatsProvider.java
  bookkeeper-stats/src/main/java/org/apache/bookkeeper/stats/annotations/StatsDoc.java
  bookkeeper-stats/src/main/java/org/apache/bookkeeper/stats/annotations/package-info.java
  dev/stats-doc-gen
  pom.xml
  stats/pom.xml
  stats/utils/pom.xml
  stats/utils/src/main/java/org/apache/bookkeeper/stats/utils/StatsDocGenerator.java
  stats/utils/src/main/java/org/apache/bookkeeper/stats/utils/package-info.java
Labels: area/stats, area/tools, release/4.9.0, type/feature

#1802 [branch 4.8] Fix compilation issue introduced by issue #1791
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerHandle.java
Labels: area/build, release/4.8.1, type/bug

#1682 Added BlockingQueue implementation based on JCtools
  bookkeeper-common/pom.xml
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/collections/BlockingMpscQueue.java
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/collections/BusyWait.java
  bookkeeper-common/src/test/java/org/apache/bookkeeper/common/collections/BlockingMpscQueueTest.java
  bookkeeper-dist/src/main/resources/LICENSE-all.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-bkctl.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-server.bin.txt
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Bookie.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Journal.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LedgerDescriptorImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/WriteLacProcessorV3.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/BookKeeperCloseTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/ParallelLedgerRecoveryTest.java
  pom.xml
Labels: area/bookie, area/client, release/4.9.0, type/improvement

#1816 Fix cpu-affinity module build on jdk10+
  cpu-affinity/pom.xml
Labels: area/build, release/4.9.0, type/bug

#1807 [bookie] Fix sorted ledger storage rotating entry log files too frequent
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/EntryLogManagerBase.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/EntryLogManagerForEntryLogPerLedger.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/EntryLogManagerForSingleEntryLog.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/InterleavedLedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/SortedLedgerStorage.java
Labels: area/bookie, release/4.9.0, type/bug

#1814 Introduce condensed encoding format for availabilityOfEntriesOfLedger
  site/bps/BP-34-cluster-metadata-checker.md
Labels: area/documentation, release/4.9.0, type/proposal

#1825 LedgerMetadata#parseConfig uses Metadata Builder
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerMetadata.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerMetadataBuilder.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/AbstractZkLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/MSLedgerManagerFactory.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/MetadataUpdateLoopTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/ParallelLedgerRecoveryTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/AbstractZkLedgerManagerTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/GcLedgersTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/MockLedgerManager.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdLedgerManager.java
  metadata-drivers/etcd/src/test/java/org/apache/bookkeeper/metadata/etcd/EtcdLedgerManagerTest.java
Labels: area/metadata, release/4.9.0, type/improvement

#1826 Fix flake in AuditorPeriodicBookieCheckTest
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/AuditorPeriodicBookieCheckTest.java
Labels: area/autorecovery, area/tests, release/4.9.0, type/bug

#1827 Remove LedgerMetadata constructors except one for builder
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeper.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerCreateOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerMetadata.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/LedgerMetadataTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/MockLedgerHandle.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/ReadLastConfirmedAndEntryOpTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestLedgerFragmentReplication.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestWatchEnsembleChange.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/api/BookKeeperBuildersTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/LedgerManagerIteratorTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/AuditorLedgerCheckerTest.java
  metadata-drivers/etcd/src/test/java/org/apache/bookkeeper/metadata/etcd/EtcdLedgerManagerTest.java
Labels: area/metadata, release/4.9.0, type/improvement

#1828 Make most LedgerMetadata fields final
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerMetadata.java
Labels: area/metadata, release/4.9.0, type/improvement

#1810 Remove duplication logic for 'minNumRacksPerWriteQuorum' handling in RackawareEnsemblePlacementPolicyImpl
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RackawareEnsemblePlacementPolicyImpl.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestRackawareEnsemblePlacementPolicy.java
Labels: area/client, release/4.9.0, type/bug

#1829 Move utility method from LedgerMetadata to test
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerMetadata.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/BookieWriteLedgerTest.java
Labels: area/metadata, release/4.9.0, type/improvement

#1823 [scripts] improve bookkeeper script to better handle standalone command
  bin/bookkeeper
  bin/common.sh
Labels: area/bookie, release/4.9.0, type/improvement

#1830 Remove LedgerMetadata methods modifying ensembles
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerMetadata.java
Labels: area/metadata, release/4.9.0, type/improvement

#1831 Make LedgerMetadata fields for closing immutable
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerMetadata.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerMetadataBuilder.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/LedgerRecoveryTest.java
Labels: area/metadata, release/4.9.0, type/improvement

#1790 Prepare website structure for 4.8.1 release - DO NOT MERGE
  site/_config.yml
  site/docs/4.8.1/admin/autorecovery.md
  site/docs/4.8.1/admin/bookies.md
  site/docs/4.8.1/admin/geo-replication.md
  site/docs/4.8.1/admin/http.md
  site/docs/4.8.1/admin/metrics.md
  site/docs/4.8.1/admin/perf.md
  site/docs/4.8.1/admin/placement.md
  site/docs/4.8.1/admin/upgrade.md
  site/docs/4.8.1/api/distributedlog-api.md
  site/docs/4.8.1/api/ledger-adv-api.md
  site/docs/4.8.1/api/ledger-api.md
  site/docs/4.8.1/api/overview.md
  site/docs/4.8.1/deployment/dcos.md
  site/docs/4.8.1/deployment/kubernetes.md
  site/docs/4.8.1/deployment/manual.md
  site/docs/4.8.1/development/codebase.md
  site/docs/4.8.1/development/protocol.md
  site/docs/4.8.1/getting-started/concepts.md
  site/docs/4.8.1/getting-started/installation.md
  site/docs/4.8.1/getting-started/run-locally.md
  site/docs/4.8.1/overview/overview.md
  site/docs/4.8.1/overview/releaseNotes.md
  site/docs/4.8.1/overview/releaseNotesTemplate.md
  site/docs/4.8.1/reference/cli.md
  site/docs/4.8.1/reference/config.md
  site/docs/4.8.1/reference/metrics.md
  site/docs/4.8.1/security/overview.md
  site/docs/4.8.1/security/sasl.md
  site/docs/4.8.1/security/tls.md
  site/docs/4.8.1/security/zookeeper.md
Labels: area/website, release/4.9.0, type/task

#1832 Remove LedgerMetadata copy constructor
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerMetadata.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerRecoveryOp.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/MockBookKeeperTestCase.java
Labels: area/metadata, release/4.9.0, type/improvement

#1833 Make custom metadata final
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerMetadata.java
Labels: area/metadata, release/4.9.0, type/improvement

#1795 Release notes for 4.8.1
  site/_config.yml
  site/docs/4.8.1/overview/releaseNotes.md
  site/releases.md
Labels: area/website, release/4.9.0, type/task

#1838 Add rest endpoint trigger_gc to trigger GC on Bookie
  bookkeeper-http/http-server/src/main/java/org/apache/bookkeeper/http/HttpRouter.java
  bookkeeper-http/http-server/src/main/java/org/apache/bookkeeper/http/HttpServer.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/GarbageCollectorThread.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/InterleavedLedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/SortedLedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/DbLedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/SingleDirectoryDbLedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/http/BKHttpServiceProvider.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/http/service/TriggerGCService.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/server/http/TestHttpService.java
  site/docs/latest/admin/http.md
Labels: area/bookie, release/4.7.3, release/4.8.2, release/4.9.0, type/task

#1841 [utils] Move ReflectionUtils to bookkeeper-common module
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/util/ReflectionUtils.java
  bookkeeper-common/src/test/java/org/apache/bookkeeper/common/util/TestReflectionUtils.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/auth/AuthProviderFactoryFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LedgerStorageFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeper.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RackawareEnsemblePlacementPolicyImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/AbstractConfiguration.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ClientConfiguration.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ServerConfiguration.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/AbstractZkLedgerManagerFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/MetadataDrivers.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/metastore/MetastoreFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/component/ServerLifecycleComponent.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/service/StatsProviderService.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tls/SecurityProviderFactoryFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/EntryFormatter.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/LedgerIdFormatter.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/DistributedLogConfiguration.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/namespace/NamespaceDriverManager.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/tools/Tool.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/tools/TestDistributedLogTool.java
  tests/shaded/distributedlog-core-shaded-test/src/test/java/org/apache/bookkeeper/tests/shaded/DistributedLogCoreShadedJarTest.java
Labels: area/utils, release/4.9.0, type/task

#1818 Use ${sha1} instead of ${ghprbActualCommit} for Pre-commit Jobs
  .test-infra/jenkins/job_bookkeeper_precommit_bookie_tests.groovy
  .test-infra/jenkins/job_bookkeeper_precommit_client_tests.groovy
  .test-infra/jenkins/job_bookkeeper_precommit_integrationtests.groovy
  .test-infra/jenkins/job_bookkeeper_precommit_java8.groovy
  .test-infra/jenkins/job_bookkeeper_precommit_java9.groovy
  .test-infra/jenkins/job_bookkeeper_precommit_remaining_tests.groovy
  .test-infra/jenkins/job_bookkeeper_precommit_replication_tests.groovy
  .test-infra/jenkins/job_bookkeeper_precommit_tls_tests.groovy
  .test-infra/jenkins/job_bookkeeper_precommit_validation.groovy
Labels: area/build, release/4.9.0, type/task

#1834 Only publish suspect ledgers if they have missing fragments
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/Auditor.java
Labels: area/autorecovery, release/4.9.0, type/bug

#1843 [ledger storage] DbLedgerStorage should do periodical flush
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Bookie.java
Labels: area/bookie, release/4.7.3, release/4.8.2, release/4.9.0, type/bug

#1845 [release] fix docker mount volume issue
  dev/release/000-run-docker.sh
Labels: area/release, release/4.9.0, type/bug

#1839 [stats] Add @StatsDoc annotation for bookie server request stats
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/stats/BookieStats.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/BookieRequestProcessor.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/ForceLedgerProcessorV3.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/GetBookieInfoProcessorV3.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/LongPollReadEntryProcessorV3.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/PacketProcessorBase.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/PacketProcessorBaseV3.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/ReadEntryProcessor.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/ReadEntryProcessorV3.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/ReadLacProcessorV3.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/RequestStats.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/WriteEntryProcessor.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/WriteEntryProcessorV3.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/WriteLacProcessorV3.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/proto/ForceLedgerProcessorV3Test.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/proto/WriteEntryProcessorTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/proto/WriteEntryProcessorV3Test.java
  bookkeeper-stats/src/main/java/org/apache/bookkeeper/stats/annotations/StatsDoc.java
Labels: area/documentation, area/stats, release/4.9.0, type/task

#1835 Rename LedgerMetadataBuilder#closingAt to parameter order
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerHandle.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerMetadata.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerMetadataBuilder.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/ReadOnlyLedgerHandle.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/HandleFailuresTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/LedgerClose2Test.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/LedgerRecovery2Test.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/MetadataUpdateLoopTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestLedgerFragmentReplication.java
Labels: area/metadata, release/4.9.0, type/improvement

#1844 [CI] increase timeout of website build to 120 mins
  .test-infra/jenkins/common_job_properties.groovy
Labels: area/build, release/4.9.0, type/task
