Repository apache/bookkeeper, pull requests merged in 2018-12, with the labels that each got.

#1853 Let OS choose port for vertx test
  bookkeeper-http/vertx-http-server/src/main/java/org/apache/bookkeeper/http/vertx/VertxHttpServer.java
  bookkeeper-http/vertx-http-server/src/test/java/org/apache/bookkeeper/http/vertx/TestVertxHttpServer.java
Labels: area/http, area/tests, release/4.9.0, type/bug

#1851 Update BookKeeper version in Docker file for 4.8.1 release
  docker/Dockerfile
Labels: area/docker, release/4.8.2, type/task

#1836 LedgerMetadata should require digest and password together
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerMetadata.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerMetadataBuilder.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/LedgerRecovery2Test.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/ReadLastConfirmedAndEntryOpTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/api/BookKeeperBuildersTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/LedgerManagerIteratorTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/AuditorLedgerCheckerTest.java
  metadata-drivers/etcd/src/test/java/org/apache/bookkeeper/metadata/etcd/EtcdLedgerManagerTest.java
Labels: area/metadata, release/4.9.0, type/improvement

#1855 Mark 4.8.1 as latest release
  site/_config.yml
Labels: area/website, release/4.9.0, type/task

#1856 [table service] remove extra code
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/KeyValueStorageRocksDB.java
Labels: area/tableservice, release/4.9.0, type/task

#1858 Add max ledger metadata format version to layout
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/AbstractConfiguration.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/AbstractZkLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/AbstractZkLedgerManagerFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LedgerLayout.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LedgerMetadataSerDe.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/MSLedgerManagerFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/http/service/GetLedgerMetaService.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/http/service/ListLedgerService.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/LedgerMetadataTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/AbstractZkLedgerManagerTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/MockLedgerManager.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/TestLedgerLayout.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/server/http/TestHttpService.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdLedgerManager.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdLedgerManagerFactory.java
  metadata-drivers/etcd/src/test/java/org/apache/bookkeeper/metadata/etcd/EtcdLedgerManagerTest.java
Labels: area/metadata, release/4.9.0, type/improvement

#1671 remove misleading comment
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/PendingReadOp.java
Labels: area/documentation, release/4.9.0, type/task

#1850 [release notes] Release Notes for 4.7.3
  site/docs/4.7.3/overview/releaseNotes.md
Labels: area/website, release/4.7.3, type/task

#1860 [release][docker] Update the docker file for release 4.7.3
  docker/Dockerfile
Labels: area/docker, area/release, release/4.7.3, type/task

#1859 [release][website] Add documentation for release 4.7.3
  site/_config.yml
  site/docs/4.7.3/admin/autorecovery.md
  site/docs/4.7.3/admin/bookies.md
  site/docs/4.7.3/admin/geo-replication.md
  site/docs/4.7.3/admin/http.md
  site/docs/4.7.3/admin/metrics.md
  site/docs/4.7.3/admin/perf.md
  site/docs/4.7.3/admin/placement.md
  site/docs/4.7.3/admin/upgrade.md
  site/docs/4.7.3/api/distributedlog-api.md
  site/docs/4.7.3/api/ledger-adv-api.md
  site/docs/4.7.3/api/ledger-api.md
  site/docs/4.7.3/api/overview.md
  site/docs/4.7.3/deployment/dcos.md
  site/docs/4.7.3/deployment/kubernetes.md
  site/docs/4.7.3/deployment/manual.md
  site/docs/4.7.3/development/codebase.md
  site/docs/4.7.3/development/protocol.md
  site/docs/4.7.3/getting-started/concepts.md
  site/docs/4.7.3/getting-started/installation.md
  site/docs/4.7.3/getting-started/run-locally.md
  site/docs/4.7.3/overview/overview.md
  site/docs/4.7.3/overview/releaseNotesTemplate.md
  site/docs/4.7.3/reference/cli.md
  site/docs/4.7.3/reference/config.md
  site/docs/4.7.3/reference/metrics.md
  site/docs/4.7.3/security/overview.md
  site/docs/4.7.3/security/sasl.md
  site/docs/4.7.3/security/tls.md
  site/docs/4.7.3/security/zookeeper.md
  site/releases.md
Labels: area/documentation, area/website, release/4.7.3, release/4.9.0, type/task

#1862 Fix selectFromNetworkLocation in RackawareEnsemblePlacementPolicyImpl
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RackawareEnsemblePlacementPolicyImpl.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestRackawareEnsemblePlacementPolicy.java
Labels: area/client, release/4.9.0, type/bug

#1857 changingEnsemble should be negated before calling unset success
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerHandle.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/HandleFailuresTest.java
Labels: area/client, release/4.9.0, type/bug

#1865 Ledger manager factories initialized with max metadata version
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/AbstractConfiguration.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/AbstractHierarchicalLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/AbstractZkLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/AbstractZkLedgerManagerFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/FlatLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/FlatLedgerManagerFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/HierarchicalLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/HierarchicalLedgerManagerFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LedgerManagerFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LegacyHierarchicalLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LegacyHierarchicalLedgerManagerFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LongHierarchicalLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LongHierarchicalLedgerManagerFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/MSLedgerManagerFactory.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/ParallelLedgerRecoveryTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/AbstractZkLedgerManagerTest.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdLedgerManager.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdLedgerManagerFactory.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdMetadataDriverBase.java
  metadata-drivers/etcd/src/test/java/org/apache/bookkeeper/metadata/etcd/EtcdLedgerManagerTest.java
  tests/shaded/distributedlog-core-shaded-test/src/test/java/org/apache/bookkeeper/tests/shaded/DistributedLogCoreShadedJarTest.java
Labels: area/metadata, release/4.9.0, type/improvement

#1881 [CI] Update precommit job captions with trigger phrase
  .test-infra/jenkins/job_bookkeeper_precommit_bookie_tests.groovy
  .test-infra/jenkins/job_bookkeeper_precommit_client_tests.groovy
  .test-infra/jenkins/job_bookkeeper_precommit_integrationtests.groovy
  .test-infra/jenkins/job_bookkeeper_precommit_java8.groovy
  .test-infra/jenkins/job_bookkeeper_precommit_java9.groovy
  .test-infra/jenkins/job_bookkeeper_precommit_remaining_tests.groovy
  .test-infra/jenkins/job_bookkeeper_precommit_replication_tests.groovy
  .test-infra/jenkins/job_bookkeeper_precommit_tls_tests.groovy
  .test-infra/jenkins/job_bookkeeper_precommit_validation.groovy
Labels: area/build, release/4.9.0, type/task

#1871 [stats][doc] Add @StatsDoc annotation for entrylogger stats
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/EntryLogManagerForEntryLogPerLedger.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/EntryLogger.java
Labels: area/documentation, area/stats, release/4.9.0, type/task

#1876 [stats][doc] Add @StatsDoc annotation for bookie state manager stats
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieStateManager.java
Labels: area/stats, release/4.9.0, type/task

#1877 [stats][doc] Add @StatsDoc annotation for interleaved ledger storage stats
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/InterleavedLedgerStorage.java
Labels: area/documentation, area/stats, release/4.9.0, type/task

#1873 [stats][doc] Add @StatsDoc annotation for memtable stats
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/EntryMemTable.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/EntryMemTableWithParallelFlusher.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/stats/EntryMemTableStats.java
Labels: area/documentation, area/stats, release/4.9.0, type/task

#1874 [stats][doc] Add @StatsDoc annotation for db ledger storage stats
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/DbLedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/DbLedgerStorageStats.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/EntryLocationIndex.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/EntryLocationIndexStats.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/LedgerMetadataIndex.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/LedgerMetadataIndexStats.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/SingleDirectoryDbLedgerStorage.java
Labels: area/documentation, area/stats, release/4.9.0, type/task

#1868 BP-37: Improve configuration management for better documentation
  site/bps/BP-37-conf-documentation.md
  site/community/bookkeeper_proposals.md
Labels: BP, area/config, area/documentation, area/tools, release/4.9.0, type/proposal

#1885 Issue #1884: (@W-5697664@) dir_*_usage stats are reported as 0 ...
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LedgerDirsMonitor.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/TestLedgerDirsManager.java
Labels: area/bookie, area/stats, release/4.9.0, type/bug

#1875 [stats][doc] Add @StatsDoc annotation for garbage collector stats
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/GarbageCollectorThread.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/ScanAndCompareGarbageCollector.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/stats/GarbageCollectorStats.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/GcLedgersTest.java
Labels: area/bookie, area/documentation, area/stats, release/4.9.0, type/task

#1872 [stats][doc] Add @StatsDoc annotation for ledger cache stats
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/IndexInMemPageMgr.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/IndexPersistenceMgr.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/stats/IndexInMemPageMgrStats.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/stats/IndexPersistenceMgrStats.java
Labels: area/documentation, area/stats, release/4.9.0, type/task

#1888 Bring back statslogger to BookKeeper client in ReplicationWorker process.
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/AbstractConfiguration.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/BookieClientImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/Auditor.java
  site/_data/config/bk_server.yaml
Labels: area/autorecovery, area/stats, release/4.9.0, type/improvement

#1887 Issue#1886 Handle double bookie failures
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerHandle.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/BookieWriteLedgerTest.java
Labels: area/client, release/4.8.2, type/bug

#1869 Introduce a configuration framework for better organizing and documentating configuration settings
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/conf/ConfigDef.java
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/conf/ConfigException.java
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/conf/ConfigKey.java
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/conf/ConfigKeyGroup.java
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/conf/Type.java
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/conf/Validator.java
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/conf/validators/ClassValidator.java
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/conf/validators/NullValidator.java
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/conf/validators/RangeValidator.java
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/conf/validators/package-info.java
  bookkeeper-common/src/test/java/org/apache/bookkeeper/common/conf/ConfigDefTest.java
  bookkeeper-common/src/test/java/org/apache/bookkeeper/common/conf/ConfigKeyGroupTest.java
  bookkeeper-common/src/test/java/org/apache/bookkeeper/common/conf/ConfigKeyTest.java
  bookkeeper-common/src/test/java/org/apache/bookkeeper/common/conf/validators/ClassValidatorTest.java
  bookkeeper-common/src/test/java/org/apache/bookkeeper/common/conf/validators/RangeValidatorTest.java
  bookkeeper-common/src/test/resources/test_conf_2.conf
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ServerConfiguration.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/SortedLedgerStorageCheckpointTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/conf/TestServerConfiguration.java
  pom.xml
Labels: area/config, area/documentation, release/4.9.0, type/improvement

#1889 Multiple calls to LedgerHandle#close should wait on actual close
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerHandle.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/LedgerClose2Test.java
Labels: area/client, release/4.9.0, type/bug

#1890 Revert maxLedgerMetadataFormatVersion changes in layout
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/AbstractHierarchicalLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/AbstractZkLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/AbstractZkLedgerManagerFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/FlatLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/FlatLedgerManagerFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/HierarchicalLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/HierarchicalLedgerManagerFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LedgerLayout.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LedgerManagerFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LedgerMetadataSerDe.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LegacyHierarchicalLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LegacyHierarchicalLedgerManagerFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LongHierarchicalLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LongHierarchicalLedgerManagerFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/MSLedgerManagerFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/http/service/GetLedgerMetaService.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/http/service/ListLedgerService.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/LedgerMetadataTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/ParallelLedgerRecoveryTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/AbstractZkLedgerManagerTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/MockLedgerManager.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/TestLedgerLayout.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/server/http/TestHttpService.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdLedgerManager.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdLedgerManagerFactory.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdMetadataDriverBase.java
  metadata-drivers/etcd/src/test/java/org/apache/bookkeeper/metadata/etcd/EtcdLedgerManagerTest.java
  tests/shaded/distributedlog-core-shaded-test/src/test/java/org/apache/bookkeeper/tests/shaded/DistributedLogCoreShadedJarTest.java
Labels: area/metadata, release/4.9.0, type/improvement
