Repository apache/bookkeeper, pull requests merged in 2019-05, with the labels that each got.

#2069 Use pure python implementation of MurmurHash
  stream/clients/python/bookkeeper/common/router/router.py
  stream/clients/python/setup.py
Labels: area/tableservice, release/4.10.0, release/4.9.2, type/improvement

#2070 ISSUE #1967: make ledger creation and removal robust to zk connectionloss
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LedgerMetadataSerDe.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/AbstractZkLedgerManagerTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/TestLedgerMetadataSerDe.java
Labels: area/client, area/metadata, area/tests, release/4.10.0, type/bug, type/cleanup

#2076 ISSUE #2075: Bookieshell lastmark command isn't functional, always returning 0-0
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/LastMarkCommand.java
Labels: area/bookie, area/tools, area/utils, release/4.10.0, type/bug

#1995 Added HTTP handler to expose bookie state
  bookkeeper-http/http-server/src/main/java/org/apache/bookkeeper/http/HttpRouter.java
  bookkeeper-http/http-server/src/main/java/org/apache/bookkeeper/http/HttpServer.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/http/BKHttpServiceProvider.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/http/service/BookieIsReadyService.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/http/service/BookieStateService.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/server/http/TestHttpService.java
  site/docs/latest/admin/http.md
Labels: area/bookie, release/4.10.0, release/4.9.2, type/improvement

#1931 GetListOfEntriesOfLedger implementation
  bookkeeper-proto/src/main/proto/BookkeeperProtocol.proto
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookKeeperServerStats.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Bookie.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/EntryMemTable.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/InterleavedLedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/InterleavedStorageRegenerateIndexOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LedgerCache.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LedgerCacheImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LedgerDescriptor.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LedgerDescriptorImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LedgerEntryPage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/SortedLedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/stats/BookieStats.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/DbLedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/SingleDirectoryDbLedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeperAdmin.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeperClientStats.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/BookieClient.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/BookieClientImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/BookieRequestProcessor.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/BookkeeperInternalCallbacks.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/GetListOfEntriesOfLedgerProcessorV3.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/PerChannelBookieClient.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/RequestStats.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/AvailabilityOfEntriesOfLedger.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/IteratorUtility.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/InterleavedLedgerStorageTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/LedgerStorageTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/SortedLedgerStorageTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/TestEntryMemTable.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/TestSyncThread.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/BookKeeperAdminTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/GcLedgersTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/LedgerManagerTestCase.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/proto/MockBookieClient.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/util/AvailabilityOfEntriesOfLedgerTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/util/IteratorUtilityTest.java
Labels: area/bookie, area/client, area/utils, release/4.10.0, type/feature

#2089 Move common placementpolicy components to TopologyAwareEnsemblePlacementPolicy.
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/DefaultEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RackawareEnsemblePlacementPolicyImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/TopologyAwareEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/WeightedRandomSelection.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/WeightedRandomSelectionImpl.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestWeightedRandomSelection.java
Labels: area/client, release/4.10.0, type/cleanup

#2092 Move common placementpolicy components to TopologyAwareEnsemblePlacementPolicy.
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/ITopologyAwareEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RackChangeNotifier.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RackawareEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RackawareEnsemblePlacementPolicyImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RegionAwareEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/TopologyAwareEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/net/BookieNode.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestRackawareEnsemblePlacementPolicy.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/util/StaticDNSResolver.java
Labels: area/client, release/4.10.0, type/cleanup

#1940 [bk-gc] avoid blocking call in gc-thread
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/ScanAndCompareGarbageCollector.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/CleanupLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/FlatLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/HierarchicalLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LegacyHierarchicalLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LongHierarchicalLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/MSLedgerManagerFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/ZkUtils.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/CompactionTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/ParallelLedgerRecoveryTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/MockLedgerManager.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdLedgerManager.java
Labels: area/bookie, release/4.10.0, type/improvement

#2088 Added release notes for release 4.9.2
  site/docs/4.9.2/overview/releaseNotes.md
Labels: area/website, release/4.10.0, type/task

#2097 [Bk-Client] Check empty ledger-parent node while deleting ledger
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/ZkUtils.java
Labels: area/utils, release/4.10.0, type/bug

#2090 Update and flush lastLogMark when replaying journal
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Bookie.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Journal.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/BookieInitializationTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/BookieJournalTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/BookieWriteToJournalTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/test/BookKeeperClusterTestCase.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/util/TestUtils.java
Labels: area/bookie, release/4.10.0, type/bug

#2086 [site]modify nettyMaxFrameSizeBytes Description
  site/_data/config/bk_server.yaml
Labels: area/documentation, release/4.10.0, type/improvement

#2085 Fallback to use v3 protocol for some types of requests if they are not implemented in v2
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/BookieClientImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/DefaultPerChannelBookieClientPool.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/PerChannelBookieClientFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/PerChannelBookieClientPool.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/ExplicitLacTest.java
Labels: area/client, release/4.10.0, type/improvement

#2093 Fix flaky testIOVertexHTTPServerEndpointForARWithPrometheusProvider test
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/BookieInitializationTest.java
Labels: area/stats, release/4.10.0, type/bug

#2105 Update lastLogMark to EOF when replaying journal
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Bookie.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Journal.java
Labels: area/bookie, release/4.10.0, type/improvement
