Repository apache/bookkeeper, pull requests merged in 2019-07, with the labels that each got.

#2117 Implement a method to get all the Bookies
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeperAdmin.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookieWatcher.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookieWatcherImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/discover/RegistrationClient.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/discover/ZKRegistrationClient.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookies/ListBookiesCommand.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/BookieShellTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/BookKeeperAdminTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/discover/MockRegistrationClient.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/discover/TestZkRegistrationClient.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdRegistrationClient.java
Labels: area/client, release/4.10.0, type/feature

#2119 [bk-server] Clean up over-replicated ledgers owned by different bookies
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/ScanAndCompareGarbageCollector.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/GcLedgersTest.java
Labels: area/autorecovery, release/4.10.0, type/improvement

#2121 Issue #2103: Avoid stop of entry log compaction
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/GarbageCollectorThread.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/GarbageCollectorThreadTest.java
Labels: area/bookie, release/4.10.0, type/bug

#2118 Issue #1961: Included ZooKeeper client AclId.
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/admin/DistributedLogAdmin.java
Labels: area/dlog, release/4.10.0, type/bug

#2098 Website update for 4.9.2 release
  site/_config.yml
  site/docs/4.9.2/admin/autorecovery.md
  site/docs/4.9.2/admin/bookies.md
  site/docs/4.9.2/admin/geo-replication.md
  site/docs/4.9.2/admin/http.md
  site/docs/4.9.2/admin/metrics.md
  site/docs/4.9.2/admin/perf.md
  site/docs/4.9.2/admin/placement.md
  site/docs/4.9.2/admin/upgrade.md
  site/docs/4.9.2/api/distributedlog-api.md
  site/docs/4.9.2/api/ledger-adv-api.md
  site/docs/4.9.2/api/ledger-api.md
  site/docs/4.9.2/api/overview.md
  site/docs/4.9.2/deployment/dcos.md
  site/docs/4.9.2/deployment/kubernetes.md
  site/docs/4.9.2/deployment/manual.md
  site/docs/4.9.2/development/codebase.md
  site/docs/4.9.2/development/protocol.md
  site/docs/4.9.2/getting-started/concepts.md
  site/docs/4.9.2/getting-started/installation.md
  site/docs/4.9.2/getting-started/run-locally.md
  site/docs/4.9.2/overview/overview.md
  site/docs/4.9.2/overview/releaseNotes.md
  site/docs/4.9.2/overview/releaseNotesTemplate.md
  site/docs/4.9.2/reference/cli.md
  site/docs/4.9.2/reference/config.md
  site/docs/4.9.2/reference/metrics.md
  site/docs/4.9.2/security/overview.md
  site/docs/4.9.2/security/sasl.md
  site/docs/4.9.2/security/tls.md
  site/docs/4.9.2/security/zookeeper.md
  site/releases.md
Labels: area/website, release/4.10.0, type/task

#2126 [CI] Prune networks older than 12h
  .test-infra/scripts/pre-docker-tests.sh
Labels: area/tests, release/4.10.0, type/task

#2123 Fix log statements with incorrect placeholders
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/EntryLogger.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/IndexPersistenceMgr.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/ScanAndCompareGarbageCollector.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/TransactionalEntryLogCompactor.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/PendingWriteLacOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/AbstractZkLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/net/BookieSocketAddress.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestLedgerFragmentReplication.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/TestReplicationWorker.java
  stream/distributedlog/common/src/main/java/org/apache/distributedlog/common/config/ConfigurationSubscription.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/LocalDLMEmulator.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/bk/SimpleLedgerAllocator.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/impl/metadata/BKDLConfig.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/net/DNSResolver.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/TestBKDistributedLogNamespace.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/TestLogSegmentCreation.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/TestReader.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/TestRollLogSegments.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/bk/TestLedgerAllocatorPool.java
  stream/server/src/main/java/org/apache/bookkeeper/stream/server/service/BookieService.java
Labels: area/logging, release/4.10.0, type/improvement

#2122 Use bulk operation instead of iteration
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/MetadataDrivers.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/CompactionTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/discover/MockRegistrationClient.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/proto/MockBookieClient.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/ReadAheadEntryReader.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/bk/LedgerAllocatorPool.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/namespace/NamespaceDriverManager.java
Labels: area/bookie, area/client, release/4.10.0, type/improvement

#2125 Issue #2124: Test 'ListBookiesCommand ' is failing
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookies/ListBookiesCommandTest.java
Labels: area/tests, release/4.10.0, type/bug

#2120 Implementation of new scrutiny - replicas check (Part-1)
  bookkeeper-proto/src/main/proto/DataFormats.proto
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/DistributionSchedule.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RoundRobinDistributionSchedule.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ServerConfiguration.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LedgerUnderreplicationManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/ZkLedgerUnderreplicationManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/Auditor.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/ReplicationStats.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/AvailabilityOfEntriesOfLedger.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/BookKeeperConstants.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/BookKeeperAdminTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/RoundRobinDistributionScheduleTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/AuditorLedgerCheckerTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/AuditorPeriodicCheckTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/AuditorPlacementPolicyCheckTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/TestLedgerUnderreplicationManager.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/util/AvailabilityOfEntriesOfLedgerTest.java
  site/_data/config/bk_server.yaml
Labels: area/autorecovery, area/client, area/metadata, area/stats, release/4.10.0, type/feature, type/improvement

#2134 Make build pass on JDK11, fix javadoc configuration
  pom.xml
Labels: area/build, release/4.10.0, type/task

#2131 Issue #2130 : Fix for broken URLs
  README.md
Labels: area/documentation, release/4.10.0, type/cleanup

#2135 Upgrade to latest Maven version 3.6.1
  .test-infra/jenkins/common_job_properties.groovy
  dev/docker/Dockerfile
  dev/docker/run.sh
  dev/release/Dockerfile
Labels: area/build, release/4.10.0, type/task

#2128 Issue #2127: Allow user override default SASL service name bookkeeper
  bookkeeper-server/src/main/java/org/apache/bookkeeper/sasl/SaslClientState.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/sasl/SaslConstants.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/sasl/GSSAPIBookKeeperTest.java
  site/docs/4.9.2/security/sasl.md
Labels: area/client, release/4.10.0, type/improvement

#2132 Make default Bookie scripts work on JDK11+
  bin/common.sh
Labels: area/build, release/4.10.0, type/task

#2129 Remove redundant array creation
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/UpdateLedgerOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/http/service/ListDiskFilesService.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestRackawareEnsemblePlacementPolicy.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/AppendOnlyStreamReader.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/BKDistributedLogManager.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/BKLogHandler.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/BKLogReadHandler.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/BKLogSegmentWriter.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/BKLogWriteHandler.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/BookKeeperClient.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/ReadAheadEntryReader.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/ReadUtils.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/admin/DistributedLogAdmin.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/auditor/DLAuditor.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/bk/SimpleLedgerAllocator.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/impl/BKNamespaceDriver.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/impl/ZKNamespaceWatcher.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/impl/acl/ZKAccessControlManager.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/impl/federated/FederatedZKLogMetadataStore.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/impl/logsegment/BKLogSegmentEntryStore.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/impl/metadata/ZKLogStreamMetadataStore.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/lock/ZKSessionLock.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/logsegment/PerStreamLogSegmentCache.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/DLMTestUtil.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/TestAsyncReaderWriter.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/TestDistributedLogBase.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/TestReader.java
Labels: area/bookie, area/client, release/4.10.0, type/cleanup
