Repository apache/bookkeeper, pull requests merged in 2019-10, with the labels that each got.

#2171 Update bc tests to include versions up to 4.9.x
  tests/backward-compat/current-server-old-clients/src/test/groovy/org/apache/bookkeeper/tests/backwardcompat/TestCompatOldClients.groovy
  tests/backward-compat/hostname-bookieid/src/test/groovy/org/apache/bookkeeper/tests/backwardcompat/TestCompatUpgradeWithHostnameBookieId.groovy
  tests/backward-compat/upgrade/src/test/groovy/org/apache/bookkeeper/tests/backwardcompat/TestCompatUpgrade.groovy
  tests/docker-images/all-released-versions-image/Dockerfile
  tests/docker-images/all-released-versions-image/scripts/install-tarball.sh
  tests/docker-images/all-versions-image/scripts/install-all-tarballs.sh
Labels: area/tests, release/4.10.0, type/improvement

#2172 Avoid throwing exception when doing EntryLogger.internalReadEntry
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/EntryLogger.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/SingleDirectoryDbLedgerStorage.java
Labels: area/bookie, release/4.10.0, release/4.9.3, type/bug, type/improvement

#2166 Enhance deferLedgerLockReleaseOfFailedLedger in ReplicationWorker
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeperAdmin.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerFragment.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerFragmentReplicator.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ServerConfiguration.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/ReplicationStats.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/ReplicationWorker.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/BookKeeperCloseTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestLedgerFragmentReplication.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/TestReplicationWorker.java
  site/_data/config/bk_server.yaml
Labels: area/autorecovery, area/stats, release/4.10.0, type/improvement

#2175 Add documentation for ByteBuffer lifecycle when adding entries
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerHandle.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerHandleAdv.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/api/WriteAdvHandle.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/api/WriteHandle.java
Labels: area/client, release/4.10.0, type/task

#2173 Call exceptionHandler if Bookie.start fails with exception.
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/component/AbstractLifecycleComponent.java
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/component/ComponentStarter.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/BookieServer.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/AutoRecoveryMain.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/service/AutoRecoveryService.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/service/BookieService.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/BookieInitializationTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/BookieJournalTest.java
Labels: area/bookie, release/4.10.0, type/bug

#2181 Update maven version to 3.6.2 for Jenkins
  .test-infra/jenkins/common_job_properties.groovy
Labels: area/build, release/4.10.0, type/cleanup

#2185 [DLOG] LogReader shouldn't be added to pending if not locking
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/BKDistributedLogManager.java
Labels: area/dlog, release/4.10.0, type/bug

#2186 Fix logic of areEntriesOfLedgerStoredInTheBookie
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeperAdmin.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/BookKeeperAdminTest.java
Labels: area/autorecovery, area/client, release/4.10.0, type/bug

#2177 Journal scan should throw IOException when it reads negative length
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Journal.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/BookieInitializationTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/BookieJournalTest.java
Labels: area/bookie, release/4.10.0, type/improvement

#2184 Upgrade Apache Parent Pom to 19
  pom.xml
Labels: area/build, release/4.10.0, type/task

#2183 [doc] Improve the Manual deployment document.
  site/docs/latest/deployment/manual.md
Labels: area/documentation, release/4.10.0, type/task

#2146 Issue #2145: Make ledgerDirs in Cookie consistent across generating a…
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Cookie.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/cookie/GenerateCookieCommand.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/cookie/GenerateCookieCommandTest.java
Labels: area/bookie, release/4.10.0, type/bug

#2180 Fix firstStoredEntryId logic in LedgerFragment
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerFragment.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerFragmentReplicator.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestLedgerFragmentReplication.java
Labels: area/client, release/4.10.0, type/bug

#2192 Add -Dtwitter to release scripts in order to build Twitter stats providers
  dev/release/001-release-branch.sh
  dev/release/002-release-prepare.sh
  dev/release/003-release-perform.sh
Labels: area/release, release/4.10.0, type/task

#2187 Removed mutex contention on BufferedChannel
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BufferedChannel.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/BookieJournalTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/BufferedChannelTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/EntryLogTest.java
Labels: area/bookie, bk-server-perf, release/4.10.0, type/improvement
