Repository apache/bookkeeper, pull requests merged in 2019-02, with the labels that each got.

#1929 [release] Update Dockerfile to 4.9.0
  docker/Dockerfile
Labels: area/docker, area/release, release/4.9.0, type/task

#1902 Metadata checker validating EnsemblePlacementpolicy
  bookkeeper-proto/src/main/proto/DataFormats.proto
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeperAdmin.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ClientConfiguration.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ServerConfiguration.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LedgerUnderreplicationManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/ZkLedgerUnderreplicationManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/Auditor.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/ReplicationStats.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/BookKeeperConstants.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/AuditorPeriodicCheckTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/AuditorPlacementPolicyCheckTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/TestLedgerUnderreplicationManager.java
  site/_data/config/bk_server.yaml
Labels: area/client, area/metadata, release/4.9.0, type/feature, type/improvement

#1933 [dev] Break current ISSUE_TEMPLATE into multiple single templates
  .github/ISSUE_TEMPLATE/bp.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area/build, release/4.10.0, type/task

#1934 Bump Netty and GRPC version
  bookkeeper-dist/src/assemble/bin-all.xml
  bookkeeper-dist/src/assemble/bin-server.xml
  bookkeeper-dist/src/assemble/bkctl.xml
  bookkeeper-dist/src/main/resources/LICENSE-all.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-bkctl.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-server.bin.txt
  bookkeeper-dist/src/main/resources/NOTICE-all.bin.txt
  bookkeeper-dist/src/main/resources/NOTICE-bkctl.bin.txt
  bookkeeper-dist/src/main/resources/NOTICE-server.bin.txt
  bookkeeper-dist/src/main/resources/deps/checker-compat-qual-2.5.2/LICENSE
  bookkeeper-dist/src/main/resources/deps/netty-4.1.32.Final/LICENSE.base64.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.32.Final/LICENSE.jbzip2.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.32.Final/LICENSE.jfastlz.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.32.Final/LICENSE.jsr166y.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.32.Final/LICENSE.libdivsufsort.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.32.Final/LICENSE.protobuf.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.32.Final/LICENSE.slf4j.txt
  pom.xml
  stream/clients/java/base/src/main/java/org/apache/bookkeeper/clients/utils/GrpcUtils.java
Labels: area/build, release/4.10.0, type/task

#1939 fix invalid formatter xml
  buildtools/src/main/resources/ide/eclipse/formatter.xml
Labels: area/tools, release/4.10.0, type/improvement

#1932 [website] Update release schedule for 4.10.0
  site/community/releases.md
Labels: area/release, area/website, release/4.10.0, type/task

#1942 [doc] Add python client release instructions to release guide
  site/community/release_guide.md
Labels: area/documentation, area/website, release/4.10.0, type/improvement

#1937 [bk-gc] Fix GC thread gets blocked
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/ScanAndCompareGarbageCollector.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeperAdmin.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/CleanupLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/FlatLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/HierarchicalLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LegacyHierarchicalLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LongHierarchicalLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/MSLedgerManagerFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/http/service/ListLedgerService.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/ZkUtils.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/CompactionTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/ParallelLedgerRecoveryTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/GcLedgersTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/LedgerManagerIteratorTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/MockLedgerManager.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdLedgerManager.java
  metadata-drivers/etcd/src/test/java/org/apache/bookkeeper/metadata/etcd/EtcdLedgerManagerTest.java
Labels: area/autorecovery, release/4.10.0, type/improvement

#1952 Filter empty string for networkTopologyScriptFileName
  bookkeeper-server/src/main/java/org/apache/bookkeeper/net/AbstractDNSToSwitchMapping.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/net/ScriptBasedMapping.java
Labels: area/client, release/4.10.0, type/bug

#1950 BOOKKEEPER-1919: putEntryOffset translate FileInfoDeletedException
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/IndexInMemPageMgr.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/LedgerCacheTest.java
Labels: area/bookie, release/4.10.0, type/bug

#1948 [DOC] Fix command path in documents
  docker/README.md
  site/_data/cli/bookkeeper-daemon.yaml
  site/_data/cli/bookkeeper.yaml
  site/_includes/shell.html
  site/docs/latest/admin/autorecovery.md
  site/docs/latest/admin/bookies.md
  site/docs/latest/api/ledger-api.md
  site/docs/latest/deployment/manual.md
  site/docs/latest/getting-started/run-locally.md
Labels: area/documentation, area/website, release/4.10.0, type/bug

#1941 Exclude defaultrack bookies when enforceMinNumRacksPerWriteQuorum is enabled
  bookkeeper-common/src/test/java/org/apache/bookkeeper/test/TestStatsProvider.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeperClientStats.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/EnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RackawareEnsemblePlacementPolicyImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RegionAwareEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/TopologyAwareEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/net/NetworkTopology.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/net/NetworkTopologyImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/net/StabilizeNetworkTopology.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/Auditor.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/ReplicationStats.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestRackawareEnsemblePlacementPolicy.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/AuditorPlacementPolicyCheckTest.java
Labels: area/autorecovery, area/client, area/stats, release/4.10.0, type/improvement

#1959 Fix obsoleted proposals document link
  site/community/contributing.md
  site/community/issue-report.md
  site/community/meeting.md
  site/community/releases.md
Labels: area/documentation, release/4.10.0, type/task

#1956 Log error (if any) in Shell.runCommand
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/Shell.java
Labels: area/tools, release/4.10.0, type/improvement

#1955 [python][branch-4.9] Bump python client version to 4.9.1-alpha-0
  stream/clients/python/setup.py
Labels: area/build, release/4.9.1, type/bug

#1953 [bookie-http-server] Fix: broken vertx rest endpoints
  bookkeeper-http/vertx-http-server/src/main/java/org/apache/bookkeeper/http/vertx/VertxHttpServer.java
Labels: area/http, release/4.10.0, type/bug

#1951 [DOC] popover for 'striped' as well as 'striping'
  site/_data/popovers.yaml
Labels: area/documentation, release/4.10.0, type/bug

#1966 Fix unable download twitter dependencies
  bookkeeper-server/pom.xml
  bookkeeper-stats-providers/pom.xml
  microbenchmarks/pom.xml
  microbenchmarks/src/main/java/org/apache/bookkeeper/stats/StatsLoggerBenchmark.java
Labels: area/build, release/4.10.0, type/improvement

#1963 Add http method test for vertx-http server
  bookkeeper-http/vertx-http-server/src/test/java/org/apache/bookkeeper/http/vertx/TestVertxHttpServer.java
Labels: area/website, release/4.10.0, type/improvement

#1964 Use conf value in RackawareEnsemblePlacementPolicyImpl.initialize method
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RackawareEnsemblePlacementPolicyImpl.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestRackawareEnsemblePlacementPolicyUsingScript.java
Labels: area/client, release/4.10.0, type/improvement
