Repository apache/bookkeeper, pull requests merged in 2019-01, with the labels that each got.

#1894 ISSUE #1892: ILS: reset retry in consistency check loop
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookKeeperServerStats.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/EntryLogger.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/InterleavedLedgerStorage.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/InterleavedLedgerStorageTest.java
Labels: area/bookie, release/4.9.0, type/bug

#1812 Allow to configure BK for low latency busy-wait settings
  bookkeeper-common/pom.xml
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/util/OrderedExecutor.java
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/util/OrderedScheduler.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Journal.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeper.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/AbstractConfiguration.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ServerConfiguration.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/BookieNettyServer.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/EventLoopUtil.java
  conf/bk_server.conf
  shaded/bookkeeper-server-shaded/pom.xml
  shaded/distributedlog-core-shaded/pom.xml
  site/_data/config/bk_server.yaml
Labels: area/bookie, area/client, release/4.9.0, type/improvement

#1808 Allow to configure sticky reads
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/ClientInternalConf.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/EnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerHandle.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/PendingReadOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ClientConfiguration.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/BookieStickyReadsTest.java
Labels: area/bookie, area/client, release/4.9.0, type/improvement

#1883 Enhance EnsemblePlacementPolicy and DNSResolverDecorator to log relevant metrics.
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookKeeperServerStats.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LocalBookieEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeperAdmin.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookieWatcherImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/DefaultEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/EnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/ITopologyAwareEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RackawareEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RackawareEnsemblePlacementPolicyImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RegionAwareEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/net/ScriptBasedMapping.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/GenericEnsemblePlacementPolicyTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestRackawareEnsemblePlacementPolicy.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestRackawareEnsemblePlacementPolicyUsingScript.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestRackawarePolicyNotificationUpdates.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestRegionAwareEnsemblePlacementPolicy.java
Labels: area/client, release/4.9.0, type/improvement

#1849 Make Spotbugs pass on JDK11
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/collections/RecyclableArrayList.java
  pom.xml
Labels: area/build, release/4.9.0, type/task

#1904 replace default source-release-assembly by bookkeeper-dist
  bookkeeper-dist/pom.xml
  pom.xml
Labels: area/build, area/release, release/4.9.0, type/improvement

#1900 Small fix wrong nodesUninitialized count when checkCovered
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RoundRobinDistributionSchedule.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/RoundRobinDistributionScheduleTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/BookieAutoRecoveryTest.java
Labels: area/client, release/4.9.0, type/bug

#1864 HTTP GetMetaService returns JSON rather than calling #serialize
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerCreateOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/net/BookieSocketAddress.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/http/service/GetLedgerMetaService.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/server/http/TestHttpService.java
Labels: area/http, release/4.9.0, type/improvement

#1909 [build] Fix master build after release 4.9.0
  stream/api/pom.xml
  stream/bk-grpc-name-resolver/pom.xml
  stream/clients/java/all/pom.xml
  stream/clients/java/base/pom.xml
  stream/clients/java/kv/pom.xml
  stream/clients/java/pom.xml
  stream/clients/pom.xml
  stream/common/pom.xml
  stream/pom.xml
  stream/proto/pom.xml
  stream/server/pom.xml
  stream/statelib/pom.xml
  stream/storage/api/pom.xml
  stream/storage/impl/pom.xml
  stream/storage/pom.xml
  stream/tests-common/pom.xml
  tests/integration/cluster/pom.xml
  tools/perf/pom.xml
  tools/stream/pom.xml
Labels: area/build, area/release, release/4.9.0, type/bug

#1911 [table service] bump python client version to 4.10.0-SNAPSHOT
  stream/clients/python/setup.py
Labels: area/build, area/tableservice, release/4.9.0, type/task

#1916 Add semantically meaningful return values to placement policy
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LocalBookieEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeperAdmin.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookieWatcherImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/DefaultEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/EnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/ITopologyAwareEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RackawareEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RackawareEnsemblePlacementPolicyImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RegionAwareEnsemblePlacementPolicy.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/GenericEnsemblePlacementPolicyTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestRackawareEnsemblePlacementPolicy.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestRackawareEnsemblePlacementPolicyUsingScript.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestRackawarePolicyNotificationUpdates.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestRegionAwareEnsemblePlacementPolicy.java
Labels: area/client, release/4.9.0, type/improvement

#1917 Ignore usage of localNode in PlacementPolicy.
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RackawareEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RackawareEnsemblePlacementPolicyImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RegionAwareEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/AbstractConfiguration.java
  site/_data/config/bk_server.yaml
Labels: area/client, release/4.10.0, type/improvement
