Repository apache/bookkeeper, pull requests merged in 2019-04, with the labels that each got.

#2017 Docker autobuild hook
  docker/Dockerfile
  docker/hooks/build
  site/community/release_guide.md
Labels: area/docker, release/4.10.0, type/improvement

#2005 Migrate command `listledgers`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/ListLedgersCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookieCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookie/ListLedgersCommandTest.java
Labels: area/tools, release/4.10.0, type/task

#2032 Migrate command `metadataformat`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookies/MetaFormatCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookiesCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookies/MetaFormatCommandTest.java
Labels: area/tools, release/4.10.0, type/task

#2022 Issue 2020: close db properly to avoid open RocksDB failure at the second time
  stream/storage/impl/src/main/java/org/apache/bookkeeper/stream/storage/impl/sc/StorageContainerRegistryImpl.java
  stream/storage/impl/src/main/java/org/apache/bookkeeper/stream/storage/impl/store/MVCCStoreFactoryImpl.java
Labels: area/tableservice, release/4.10.0, type/bug

#2026 Migrate command `deleteledger`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/client/DeleteLedgerCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/LedgerCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/client/DeleteLedgerCommandTest.java
Labels: area/tools, release/4.10.0, type/task

#2016 Migrate command `lostbookierecoverydelay`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/autorecovery/LostBookieRecoveryDelayCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/autorecovery/package-info.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/AutoRecoveryCommandGroup.java
  tools/ledger/src/main/resources/commands
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/autorecovery/LostBookieRecoveryDelayCommandTets.java
Labels: area/tools, release/4.10.0, type/task

#2039 Migrate command `readlogmetadata`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/EntryLogMetadata.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/ReadLogMetadataCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookieCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookie/ReadLogMetadataCommandTest.java
Labels: area/tools, release/4.10.0, type/task

#2047 Migrate command `initnewcluster`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookies/InitCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookiesCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookies/InitCommandTest.java
Labels: area/tools, release/4.10.0, type/task

#2024 Issue 2023: change cached thread pool to fixed thread pool
  tools/perf/src/main/java/org/apache/bookkeeper/tools/perf/table/PerfClient.java
Labels: area/tools, release/4.10.0, type/improvement

#2014 Migrate command `listunderreplicated`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/autorecovery/ListUnderReplicatedCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/autorecovery/package-info.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/AutoRecoveryCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/autorecovery/ListUnderReplicatedCommandTest.java
Labels: area/tools, release/4.10.0, type/task

#2030 Migrate command `nukeexistingcluster`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookies/NukeExistingClusterCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookiesCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookies/NukeExistingClusterCommandTest.java
Labels: area/tools, release/4.10.0, type/task

#2045 Migrate command `readlog`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/ReadLogCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookieCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookie/ReadLogCommandTest.java
Labels: area/tools, release/4.10.0, type/task

#2050 Migrate command `decommission`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookies/DecommissionCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookiesCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookies/DecommissionCommandTest.java
Labels: area/tools, release/4.10.0, type/task

#2041 Migrate command `readledger`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/ReadLedgerCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookieCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookie/ReadLedgerCommandTest.java
Labels: area/tools, release/4.10.0, type/improvement

#2043 Migrate command `localconsistencycheck`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/LocalConsistencyCheckCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookieCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookie/LocalConsistencyCheckCommandTest.java
Labels: area/tools, release/4.10.0, type/improvement

#2056 Migrate command `recover`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookies/RecoverCommand.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/BookieShellTest.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookiesCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookies/RecoverCommandTest.java
Labels: area/tools, release/4.10.0, type/task

#1992 Release notes for 4.9.1
  site/_config.yml
  site/docs/4.9.1/admin/autorecovery.md
  site/docs/4.9.1/admin/bookies.md
  site/docs/4.9.1/admin/geo-replication.md
  site/docs/4.9.1/admin/http.md
  site/docs/4.9.1/admin/metrics.md
  site/docs/4.9.1/admin/perf.md
  site/docs/4.9.1/admin/placement.md
  site/docs/4.9.1/admin/upgrade.md
  site/docs/4.9.1/api/distributedlog-api.md
  site/docs/4.9.1/api/ledger-adv-api.md
  site/docs/4.9.1/api/ledger-api.md
  site/docs/4.9.1/api/overview.md
  site/docs/4.9.1/deployment/dcos.md
  site/docs/4.9.1/deployment/kubernetes.md
  site/docs/4.9.1/deployment/manual.md
  site/docs/4.9.1/development/codebase.md
  site/docs/4.9.1/development/protocol.md
  site/docs/4.9.1/getting-started/concepts.md
  site/docs/4.9.1/getting-started/installation.md
  site/docs/4.9.1/getting-started/run-locally.md
  site/docs/4.9.1/overview/overview.md
  site/docs/4.9.1/overview/releaseNotes.md
  site/docs/4.9.1/overview/releaseNotesTemplate.md
  site/docs/4.9.1/reference/cli.md
  site/docs/4.9.1/reference/config.md
  site/docs/4.9.1/reference/metrics.md
  site/docs/4.9.1/security/overview.md
  site/docs/4.9.1/security/sasl.md
  site/docs/4.9.1/security/tls.md
  site/docs/4.9.1/security/zookeeper.md
  site/releases.md
Labels: area/website, release/4.10.0, type/task

#2061 Avoid useless verify if LedgerEntryRequest completed
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/PendingReadOp.java
Labels: area/client, release/4.10.0, type/improvement

#2058 Migrate command `updateledgers`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/FlipBookieIdCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/client/DeleteLedgerCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookieCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookie/FlipBookieIdCommandTest.java
Labels: area/tools, release/4.10.0, type/task

#2054 Issue 2053: Bugfix for Percentile Calculation in FastCodahale Timer Implementation
  bookkeeper-stats-providers/codahale-metrics-provider/src/main/java/org/apache/bookkeeper/stats/codahale/FastSnapshot.java
  bookkeeper-stats-providers/codahale-metrics-provider/src/test/java/org/apache/bookkeeper/stats/codahale/FastTimerTest.java
Labels: area/stats, release/4.10.0, type/bug

#2034 Migrate command `rebuild-db-ledger-locations-index`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/RebuildDBLedgerLocationsIndexCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookieCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookie/RebuildDBLedgerLocationsIndexCommandTest.java
Labels: area/tools, release/4.10.0, type/task

#2028 Migrate command `Whatisinstanceid`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookies/InstanceIdCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookiesCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookies/InstanceIdCommandTest.java
Labels: area/tools, release/4.10.0, type/task

#2008 Migrate command `whoisauditor`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/autorecovery/WhoIsAuditorCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/AutoRecoveryCommandGroup.java
  tools/ledger/src/main/resources/commands
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/autorecovery/WhoIsAuditorCommandTest.java
Labels: area/tools, release/4.10.0, type/improvement

#2010 Migrate command `autorecovery`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/autorecovery/ToggleCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/AutoRecoveryCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/autorecovery/AutoRecoveryCommandTest.java
Labels: area/tools, release/4.10.0, type/improvement

#2012 Migrate command `triggeraudit`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/autorecovery/TriggerAuditCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/autorecovery/package-info.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/AutoRecoveryCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/autorecovery/TriggerAuditCommandTest.java
Labels: area/tools, release/4.10.0, type/improvement

#2060 Migrate command `updatecookie`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/cookie/AdminCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/CookieCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/cookie/AdminCommandTest.java
Labels: area/tools, release/4.10.0, type/task

#2052 Wait for LAC update even if ledger fenced
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/FileInfo.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/TransientLedgerInfo.java
Labels: area/bookie, release/4.10.0, type/bug

#2051 Cancel LAC watch when longpoll LAC times out
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Bookie.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/FileInfo.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/IndexPersistenceMgr.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/InterleavedLedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/InterleavedStorageRegenerateIndexOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LedgerCache.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LedgerCacheImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LedgerDescriptor.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LedgerDescriptorImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/SortedLedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/DbLedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/SingleDirectoryDbLedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/TransientLedgerInfo.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/LongPollReadEntryProcessorV3.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/ReadEntryProcessorV3.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/TestSyncThread.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/GcLedgersTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/LedgerManagerTestCase.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/proto/LongPollReadEntryProcessorV3Test.java
Labels: area/bookie, area/dlog, release/4.10.0, type/bug

#2048 Fix typo in overview page for 4.8.2
  site/docs/4.8.2/overview/overview.md
Labels: area/documentation, release/4.8.2, type/bug

#2021 Support asynchronous fence request for V2 ReadEntryProcessor
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/BookieRequestProcessor.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/ReadEntryProcessor.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/proto/ReadEntryProcessorTest.java
Labels: area/bookie, release/4.10.0, type/improvement

#2006 ISSUE-1967: make ledger creation and removal robust to zk connectionloss
  bookkeeper-proto/src/main/proto/DataFormats.proto
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerMetadataBuilder.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerMetadataImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/api/LedgerMetadata.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/AbstractZkLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LedgerMetadataSerDe.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/zookeeper/ZooKeeperClient.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/BookKeeperTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/AbstractZkLedgerManagerTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/TestLedgerMetadataSerDe.java
  tests/backward-compat/current-server-old-clients/src/test/groovy/org/apache/bookkeeper/tests/backwardcompat/TestCompatOldClients.groovy
  tests/backward-compat/yahoo-custom-version/src/test/groovy/org/apache/bookkeeper/tests/backwardcompat/TestCompatUpgradeYahooCustom.groovy
Labels: area/client, area/config, area/metadata, area/protocol, area/tests, release/4.10.0, type/bug, type/feature, type/improvement

#2019 Migrate command `ledgermetadata`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/client/LedgerMetaDataCommand.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/AbstractZkLedgerManagerTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/TestLedgerMetadataSerDe.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/LedgerCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/client/LedgerMetaDataCommandTest.java
Labels: area/tools, release/4.10.0, type/task

#2072 DLog Namespace#openLog should declare LogNotFoundException
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/api/namespace/Namespace.java
Labels: area/dlog, release/4.10.0, type/task

#2074 ISSUE #2073: ReadOnlyBookieTest#testBookieContinueWritingIfMulti…
  bookkeeper-server/src/test/java/org/apache/bookkeeper/test/ReadOnlyBookieTest.java
Labels: area/tests, release/4.10.0, type/bug

#2068 ISSUE-2067: reduce byte[] allocation in add entry
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/PerChannelBookieClient.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/checksum/DigestManager.java
Labels: area/client, release/4.10.0, type/improvement
