Repository apache/bookkeeper, pull requests merged in 2019-06, with the labels that each got.

#2096 Entries must be acknowledged by bookies in multiple fault domains before being acknowledged to client
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeperClientStats.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/ClientInternalConf.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/EnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/PendingAddOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RackawareEnsemblePlacementPolicyImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/impl/BookKeeperClientStatsImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/AbstractConfiguration.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/BookKeeperTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestRackawareEnsemblePlacementPolicy.java
  conf/bk_server.conf
  site/_data/config/bk_server.yaml
Labels: area/client, release/4.10.0, type/feature

#2082 Issue 1927: fix NoNodeException in LocalBookeeper
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/LocalBookKeeper.java
Labels: area/tests, area/utils, release/4.10.0, type/bug

#2102 Update distributedlog library to use NoSuchLedgerExistsOnMetadataServer
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/BookKeeperClient.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/impl/logsegment/BKLogSegmentEntryStore.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/tools/DistributedLogTool.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/TestBKDistributedLogManager.java
Labels: area/dlog, release/4.10.0, type/bug

#2107 Display filesystem and docker info for all jenkins runs
  .test-infra/jenkins/job_bookkeeper_precommit_bookie_tests.groovy
  .test-infra/jenkins/job_bookkeeper_precommit_client_tests.groovy
  .test-infra/jenkins/job_bookkeeper_precommit_java11.groovy
  .test-infra/jenkins/job_bookkeeper_precommit_java8.groovy
  .test-infra/jenkins/job_bookkeeper_precommit_remaining_tests.groovy
  .test-infra/jenkins/job_bookkeeper_precommit_replication_tests.groovy
  .test-infra/jenkins/job_bookkeeper_precommit_tls_tests.groovy
  .test-infra/jenkins/job_bookkeeper_release_branch_47_integrationtests.groovy
  .test-infra/jenkins/job_bookkeeper_release_branch_48_integrationtests.groovy
  .test-infra/scripts/pre-docker-tests.sh
Labels: area/build, release/4.10.0, type/improvement

#2108 Bring back statslogger to BookKeeper client in ReplicationWorker process.
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/AutoRecoveryMain.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/BookieInitializationTest.java
Labels: area/stats, release/4.10.0, type/bug

#2109 Testcase for limitStatsLogging.
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/PerChannelBookieClient.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/test/BookieClientTest.java
Labels: area/stats, area/tests, release/4.10.0, type/improvement

#2100 Use https for Twitter maven repo
  bookkeeper-stats-providers/twitter-science-provider/pom.xml
Labels: area/build, release/4.10.0, type/task

#2099 [DLOG] Delete empty inprogress segment on recovery
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/BKLogWriteHandler.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/TestDistributedLogBase.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/TestTxnId.java
Labels: area/dlog, release/4.10.0, type/bug

#2111 Issue #1970: Ensure getStickyReadBookieIndex returns valid bookie index
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/EnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerHandle.java
Labels: area/client, release/4.10.0, type/bug

#2081 Added zookeeper host configuration. Closes #1960
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/LocalDLMEmulator.java
Labels: area/dlog, release/4.10.0, type/improvement

#2113 Implementation of ZoneawareEnsemblePlacementPolicy
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LocalBookieEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeperAdmin.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeperClientStats.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookieWatcherImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/DefaultEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/DynamicWeightedRandomSelectionImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/EnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RackawareEnsemblePlacementPolicyImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RegionAwareEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/TopologyAwareEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/ZoneawareEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/ZoneawareEnsemblePlacementPolicyImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/AbstractConfiguration.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/net/NetworkTopology.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/Auditor.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/ReplicationStats.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestRackawareEnsemblePlacementPolicy.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestWeightedRandomSelection.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestZoneawareEnsemblePlacementPolicy.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/AuditorPlacementPolicyCheckTest.java
  site/_data/config/bk_server.yaml
Labels: area/autorecovery, area/client, area/config, release/4.10.0, type/feature
