Repository apache/bookkeeper, pull requests merged in 2019-03, with the labels that each got.

#1958 Use automatic resource management to close streams
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieStatus.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Cookie.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/EntryLogger.java
Labels: area/bookie, release/4.10.0, type/improvement

#1957 Use the same thread to monitor ledger and index directories
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Bookie.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LedgerDirsMonitor.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/BookieInitializationTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/BookieStorageThresholdTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/CompactionTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/IndexPersistenceMgrTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/TestLedgerDirsManager.java
Labels: area/bookie, release/4.10.0, type/improvement

#1973 [DLOG] Avoid double read in readahead
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/ReadAheadEntryReader.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/TestCancelledRead.java
Labels: area/dlog, release/4.10.0, type/bug

#1965 Add validateConf to AbstractDNSToSwitchMapping
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RackawareEnsemblePlacementPolicyImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/net/AbstractDNSToSwitchMapping.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/net/ScriptBasedMapping.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestRackawareEnsemblePlacementPolicyUsingScript.java
Labels: area/autorecovery, area/client, area/config, release/4.10.0, type/improvement

#1972 Migrate command `bookieinfo` to bkctl
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookies/InfoCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookiesCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookies/InfoCommandTest.java
Labels: area/tools, release/4.10.0, type/task

#1975 Migrate command `bookieformat`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/FormatCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookieCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookie/FormatCommandTest.java
Labels: area/tools, release/4.10.0, type/improvement

#1978 Issue #1977: Migrate command 'bookieinit'
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/InitCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookieCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookie/InitCommandTest.java
Labels: area/tools, release/4.10.0, type/task

#1968 Tool to search and replace bookie ids in ledger metadata
  tests/integration/smoke/src/test/java/org/apache/bookkeeper/tests/integration/TestCLI.java
  tests/integration/smoke/src/test/java/org/apache/bookkeeper/tests/integration/TestSmoke.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookieIdCommandGroup.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookieid/SearchReplaceBookieIdCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookieid/package-info.java
  tools/ledger/src/main/resources/commands
Labels: area/bookie, area/tools, release/4.10.0, type/feature

#1981 Issue #1980: Migrate command `ledger` from shell to bkctl
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Bookie.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/LedgerCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookieCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookie/LedgerCommandTest.java
Labels: area/tools, release/4.10.0, type/task

#1983 Issue #1982: Migrate command `bookiesanity`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/SanityTestCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookieCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookie/SanityTestCommandTest.java
Labels: area/tools, release/4.10.0, type/feature

#1986 Issue #1985: Migrate command `convert-to-db-storage`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/InterleavedLedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/ConvertToDBStorageCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookieCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookie/ConvertToDBStorageCommandTest.java
Labels: area/tools, release/4.10.0, type/task

#1994 Bump python client to 4.9.1
  stream/clients/python/setup.py
Labels: area/client, release/4.9.1, type/task

#1976 Release notes for v4.8.2
  site/docs/4.8.2/overview/releaseNotes.md
Labels: area/documentation, release/4.10.0, release/4.8.2, type/task

#1996 In DbLedgerStorage use default values when config key is present but empty
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/DbLedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/KeyValueStorageRocksDB.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/storage/ldb/DbLedgerStorageBookieTest.java
Labels: area/bookie, area/config, release/4.10.0, type/improvement

#1988 Issue #1987: Migrate command `convert-to-interleaved-storage`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/ConvertToInterleavedStorageCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookieCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookie/ConvertToInterleavedStorageCommandTest.java
Labels: area/tools, release/4.10.0, type/task

#1990 Migrate command `listfilesondisk`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/ListFilesOnDiscCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookieCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookie/ListFilesOnDiscCommandTest.java
Labels: area/tools, release/4.10.0, type/task

#1993 [RELEASE] Update website to include documentation for 4.8.2
  site/_config.yml
  site/docs/4.8.2/admin/autorecovery.md
  site/docs/4.8.2/admin/bookies.md
  site/docs/4.8.2/admin/geo-replication.md
  site/docs/4.8.2/admin/http.md
  site/docs/4.8.2/admin/metrics.md
  site/docs/4.8.2/admin/perf.md
  site/docs/4.8.2/admin/placement.md
  site/docs/4.8.2/admin/upgrade.md
  site/docs/4.8.2/api/distributedlog-api.md
  site/docs/4.8.2/api/ledger-adv-api.md
  site/docs/4.8.2/api/ledger-api.md
  site/docs/4.8.2/api/overview.md
  site/docs/4.8.2/deployment/dcos.md
  site/docs/4.8.2/deployment/kubernetes.md
  site/docs/4.8.2/deployment/manual.md
  site/docs/4.8.2/development/codebase.md
  site/docs/4.8.2/development/protocol.md
  site/docs/4.8.2/getting-started/concepts.md
  site/docs/4.8.2/getting-started/installation.md
  site/docs/4.8.2/getting-started/run-locally.md
  site/docs/4.8.2/overview/overview.md
  site/docs/4.8.2/overview/releaseNotes.md
  site/docs/4.8.2/overview/releaseNotesTemplate.md
  site/docs/4.8.2/reference/cli.md
  site/docs/4.8.2/reference/config.md
  site/docs/4.8.2/reference/metrics.md
  site/docs/4.8.2/security/overview.md
  site/docs/4.8.2/security/sasl.md
  site/docs/4.8.2/security/tls.md
  site/docs/4.8.2/security/zookeeper.md
  site/releases.md
Labels: area/documentation, area/website, release/4.10.0, type/task

#1998 fix potential NPE when releasing entry that is null
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/impl/logsegment/BKLogSegmentEntryReader.java
Labels: area/dlog, release/4.10.0, type/bug

#1997 Fix error message for unrecognized number-of-bookies
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/LocalBookKeeper.java
Labels: area/logging, release/4.10.0, type/improvement

#2002 Fix when met unexpect entry id crashed
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/EntryLocationIndex.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/storage/ldb/EntryLocationIndexTest.java
Labels: area/autorecovery, area/bookie, release/4.10.0, type/bug

#2000 Migrate command `readjournal`
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Bookie.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LedgerCache.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/FormatUtil.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/ReadJournalCommand.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookieCommandGroup.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookie/ReadJournalCommandTest.java
Labels: area/tools, release/4.10.0, type/improvement

#1999 Fix IDE complain as there are multi choices for error code
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BKException.java
Labels: area/client, release/4.10.0, type/improvement
