Repository apache/bookkeeper, pull requests merged in 2020-10, with the labels that each got.

#2428 Update Copyright year to 2020 in NOTICE files
  NOTICE
  bookkeeper-dist/src/main/resources/NOTICE-all.bin.txt
  bookkeeper-dist/src/main/resources/NOTICE-bkctl.bin.txt
  bookkeeper-dist/src/main/resources/NOTICE-server.bin.txt
Labels: area/release, release/4.12.0, type/task

#2426 New Bookkeeper docusaurus based website
  pom.xml
  site2/.dockerignore
  site2/.gitignore
  site2/Dockerfile
  site2/docker-compose.yml
  site2/docs/bylaws.md
  site2/docs/doc2.md
  site2/docs/doc3.md
  site2/docs/exampledoc4.md
  site2/docs/exampledoc5.md
  site2/docs/getting-started.md
  site2/website/README.md
  site2/website/blog/2017-10-24-new-version-1.0.0.md
  site2/website/core/Footer.js
  site2/website/package.json
  site2/website/pages/en/community.js
  site2/website/pages/en/index.js
  site2/website/pages/en/powered-by.js
  site2/website/pages/en/project.js
  site2/website/pages/en/users.js
  site2/website/sidebars.json
  site2/website/siteConfig.js
  site2/website/static/css/code-blocks-buttons.css
  site2/website/static/css/custom.css
  site2/website/static/img/bk-header.png
  site2/website/static/img/favicon.ico
  site2/website/static/img/oss_logo.png
  site2/website/static/img/undraw_code_review.svg
  site2/website/static/img/undraw_monitor.svg
  site2/website/static/img/undraw_note_list.svg
  site2/website/static/img/undraw_online.svg
  site2/website/static/img/undraw_open_source.svg
  site2/website/static/img/undraw_operating_system.svg
  site2/website/static/img/undraw_react.svg
  site2/website/static/img/undraw_tweetstorm.svg
  site2/website/static/img/undraw_youtube_tutorial.svg
Labels: area/website, release/4.12.0, type/improvement

#2430 Do not hide Maven log in github actions
  .github/workflows/bookie-tests.yml
  .github/workflows/client-tests.yml
  .github/workflows/compatibility-check-java11.yml
  .github/workflows/compatibility-check-java8.yml
  .github/workflows/integration-tests.yml
  .github/workflows/pr-validation.yml
  .github/workflows/remaining-tests.yml
  .github/workflows/replication-tests.yml
  .github/workflows/tls-tests.yml
Labels: area/build, release/4.12.0, type/task

#2429 Certificate role based authorization in Apache Bookkeeper.
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ServerConfiguration.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/AuthHandler.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/BookieRequestProcessor.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tls/BookieAuthZFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/CertUtils.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/tls/TestBookieAuthZFactory.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/tls/TestTLS.java
  bookkeeper-server/src/test/resources/client-cert.pem
  bookkeeper-server/src/test/resources/client-key.jks
  bookkeeper-server/src/test/resources/client-key.p12
  bookkeeper-server/src/test/resources/client-key.pem
  bookkeeper-server/src/test/resources/generateKeysAndCerts.sh
  bookkeeper-server/src/test/resources/server-cert.pem
  bookkeeper-server/src/test/resources/server-key.jks
  bookkeeper-server/src/test/resources/server-key.p12
  bookkeeper-server/src/test/resources/server-key.pem
  conf/bk_server.conf
Labels: area/bookie, area/documentation, area/security, release/4.12.0, type/feature

#2407 Create a Jenkinsfile to configure new ASF CI env
  Jenkinsfile
Labels: area/build, release/4.12.0, type/task

#2427 Issue 2425: Typo for method name
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeper.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/ForceLedgerOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerHandle.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/PendingAddOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LedgerLayout.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/BookieClientImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/DefaultPerChannelBookieClientPool.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/PerChannelBookieClientPool.java
  site/docs/4.10.0/api/ledger-api.md
  site/docs/4.11.0/api/ledger-api.md
  site/docs/4.11.1/api/ledger-api.md
  site/docs/4.8.0/api/ledger-api.md
  site/docs/4.8.1/api/ledger-api.md
  site/docs/4.8.2/api/ledger-api.md
  site/docs/4.9.0/api/ledger-api.md
  site/docs/4.9.1/api/ledger-api.md
  site/docs/4.9.2/api/ledger-api.md
  site/docs/latest/api/ledger-api.md
Labels: area/documentation, release/4.12.0, type/cleanup

#2423 BP-42: new api list ledgers
  site/bps/BP-42-new-api-list-ledgers.md
Labels: area/website, release/4.12.0, type/proposal

#2432 ISSUE 2377 : Relax grpcio requirement for python client to support python3.8 on mac os
  stream/clients/python/bookkeeper/common/router/router.py
  stream/clients/python/scripts/test.sh
  stream/clients/python/setup.py
Labels: area/client, area/tools, release/4.12.0, type/improvement

#2433 Update to OpenJDK11 in Docker image
  docker/Dockerfile
  docker/README.md
  docker/docker-compose.yml
  docker/scripts/entrypoint.sh
  docker/scripts/healthcheck.sh
  tests/docker-images/current-version-image/Dockerfile
Labels: area/docker, release/4.12.0, type/improvement

#2436 Detect Java 11 JRE and not only JDK
  bin/common.sh
Labels: area/bookie, release/4.12.0, type/improvement

#2435 BP-41 Bookie Address changes tracking
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ClientConfiguration.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/discover/ZKRegistrationClient.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/discover/ZKRegistrationManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/zk/ZKMetadataClientDriver.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/BookieNetworkAddressChangeTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/discover/AbstractTestZkRegistrationClient.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/discover/TestZkRegistrationClientWithBookieAddressTracking.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/discover/TestZkRegistrationClientWithoutBookieAddressTracking.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/zk/ZKMetadataClientDriverTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/test/BookKeeperClusterTestCase.java
  stream/server/src/main/java/org/apache/bookkeeper/stream/server/service/RegistrationServiceProvider.java
Labels: area/client, release/4.12.0, type/feature

#2449 Fix JAVA_HOME in Dockerimage and allow it to be overwritten
  docker/Dockerfile
  docker/README.md
  docker/docker-compose.yml
  docker/hooks/build
  docker/scripts/entrypoint.sh
  docker/scripts/healthcheck.sh
Labels: area/docker, release/4.12.0, type/bug

#2447 [Issue 2443] Complete community page in the new docusaurus website
  site2/docs/bookkeeper-proposals.md
  site2/docs/coding-guide.md
  site2/docs/contributing.md
  site2/docs/issue-report-guide.md
  site2/docs/mailing-lists.md
  site2/docs/papers-and-presentations.md
  site2/docs/release-guide.md
  site2/docs/release-management.md
  site2/docs/testing-guide.md
  site2/website/pages/en/community.js
Labels: area/website, release/4.12.0, type/improvement

#2448 Update website after 4.11.1 release:
  site/_config.yml
  site/community/bookkeeper_proposals.md
  site/community/releases.md
  site/docs/4.11.1/overview/releaseNotes.md
  site/releases.md
  site/scripts/publish-website-manually.sh
Labels: area/website, release/4.12.0, type/improvement

#2452 Issue 2170: Cleaned up error message for NoNodeException for lostBook…
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/ZkLedgerUnderreplicationManager.java
Labels: area/autorecovery, release/4.12.0, type/improvement

#2455 BP-40: Convert all System.*.print statements to LOG.* statements
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/autorecovery/ListUnderReplicatedCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/autorecovery/ToggleCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/FormatUtil.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/LastMarkCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/ListActiveLedgersCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/ListFilesOnDiscCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/ListLedgersCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/ReadJournalCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/ReadLedgerCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/ReadLogCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/ReadLogMetadataCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookies/EndpointInfoCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookies/InfoCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookies/ListBookiesCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookies/RecoverCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/client/DeleteLedgerCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/client/LedgerMetaDataCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/client/SimpleTestCommand.java
Labels: area/tools, release/4.12.0, type/improvement

#2453 BP-41 Cleanup tools logs
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/DefaultBookieAddressResolver.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/discover/ZKRegistrationClient.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/PerChannelBookieClient.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/Main.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/helpers/CommandHelpers.java
Labels: area/client, release/4.12.0, type/cleanup

#2465 Make protoc-gen-grpc-java.version match grpc.version
  pom.xml
Labels: area/build, release/4.12.0, type/improvement

#2464 [Build] Use Cancel workflow action to cancel outdated PR build jobs
  .github/workflows/bookie-tests.yml
  .github/workflows/client-tests.yml
  .github/workflows/compatibility-check-java11.yml
  .github/workflows/compatibility-check-java8.yml
  .github/workflows/integration-tests.yml
  .github/workflows/pr-validation.yml
  .github/workflows/remaining-tests.yml
  .github/workflows/replication-tests.yml
  .github/workflows/tls-tests.yml
Labels: area/build, release/4.12.0, type/infra

#2457 BP-42: New Client API - list ledgers
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeper.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerCreateOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerMetadataBuilder.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerMetadataImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/api/BookKeeper.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/api/LedgerMetadata.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/api/LedgersIterator.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/api/ListLedgersResult.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/api/ListLedgersResultBuilder.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/AbstractZkLedgerManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LedgerMetadataSerDe.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/MSLedgerManagerFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/client/LedgerMetaDataCommand.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/BookKeeperAdminTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/ClientUtil.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/LedgerMetadataTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/LedgerRecovery2Test.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/MetadataUpdateLoopTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/MockLedgerHandle.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/ReadLastConfirmedAndEntryOpTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestLedgerFragmentReplication.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestSequenceRead.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestWatchEnsembleChange.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/api/BookKeeperBuildersTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/api/LedgerMetadataTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/AbstractZkLedgerManagerTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/GcLedgersTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/LedgerManagerIteratorTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/MockLedgerManager.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/meta/TestLedgerMetadataSerDe.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/AuditorLedgerCheckerTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/AuditorPlacementPolicyCheckTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/AuditorReplicasCheckTest.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdLedgerManager.java
  metadata-drivers/etcd/src/test/java/org/apache/bookkeeper/metadata/etcd/EtcdLedgerManagerTest.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/client/LedgerMetaDataCommandTest.java
Labels: area/client, release/4.12.0, type/feature

#1901 Read ExplicitLAC in asyncReadLastConfirmed - enable ExplicitLAC in new API
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerHandle.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/MockBookKeeperTestCase.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/api/ExplicitLACWithWriteHandleAPITest.java
Labels: area/client, type/feature
