Repository apache/bookkeeper, pull requests merged in 2020-08, with the labels that each got.

#2390 Issue #2385: NullPointerException in Zookeeper multiple operations execution with 3.6.1
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/BKLogWriteHandler.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/zk/ZKTransaction.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/TestZooKeeperClient.java
Labels: area/bookie, area/client, release/4.12.0, type/bug

#2389 Issue #2197: bkctl binary distribution needs a 'logs' directory
  bin/bkctl
Labels: area/tools, release/4.12.0, type/bug

#2392 Fix site 'responsbility' typo
  site/docs/4.10.0/getting-started/concepts.md
  site/docs/4.11.0/getting-started/concepts.md
  site/docs/4.11.1/getting-started/concepts.md
  site/docs/4.5.0/getting-started/concepts.md
  site/docs/4.5.1/getting-started/concepts.md
  site/docs/4.6.0/getting-started/concepts.md
  site/docs/4.6.1/getting-started/concepts.md
  site/docs/4.6.2/getting-started/concepts.md
  site/docs/4.7.0/getting-started/concepts.md
  site/docs/4.7.1/getting-started/concepts.md
  site/docs/4.7.2/getting-started/concepts.md
  site/docs/4.7.3/getting-started/concepts.md
  site/docs/4.8.0/getting-started/concepts.md
  site/docs/4.8.1/getting-started/concepts.md
  site/docs/4.8.2/getting-started/concepts.md
  site/docs/4.9.0/getting-started/concepts.md
  site/docs/4.9.1/getting-started/concepts.md
  site/docs/4.9.2/getting-started/concepts.md
  site/docs/latest/getting-started/concepts.md
Labels: area/documentation, area/website, release/4.12.0, type/bug

#2381 The latency of BenchThroughputLatency may be wrong due to Integer overflow when we do a large scale benchmark test
  bookkeeper-benchmark/src/main/java/org/apache/bookkeeper/benchmark/BenchThroughputLatency.java
Labels: area/tools, release/4.12.0, type/bug

#2380 NP check for print BookieSocketAddress and a better format
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/helpers/CommandHelpers.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookies/ListBookiesCommandTest.java
Labels: area/tools, release/4.12.0, type/improvement

#2369 Active ledgers on entry log file
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/EntryLogger.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/ListActiveLedgersCommand.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/impl/metadata/ZKLogStreamMetadataStore.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/impl/subscription/ZKSubscriptionStateStore.java
Labels: area/tools, release/4.12.0, type/feature

#2327 Bookie Client add quarantine ratio when error count exceed threshold
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookKeeperServerStats.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeper.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ClientConfiguration.java
Labels: area/client, release/4.12.0, type/feature

#2402 Trigger flush if write cache is full while waiting
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/SingleDirectoryDbLedgerStorage.java
Labels: type/bug
