Repository apache/bookkeeper, pull requests merged in 2020-11, with the labels that each got.

#2474 Issue 1533: DbLedgerStorage does not persist ExplicitLAC: Information (Header) of TransientLedgerInfo is not persisted
  bookkeeper-proto/src/main/proto/DbLedgerStorageDataFormats.proto
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LedgerDescriptor.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LedgerDescriptorImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/DbLedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/LedgerMetadataIndex.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/SingleDirectoryDbLedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/TransientLedgerInfo.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/ExplicitLacTest.java
Labels: area/bookie, durability, priority/important, release/4.12.0, type/feature, type/improvement

#2471 Autorecovery may hang indefinitely when zookeeper connection blips
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/ZkLedgerUnderreplicationManager.java
Labels: area/autorecovery, release/4.12.0, type/bug

#2450 ZookeeperClient should retry instantly on zk session expiry
  bookkeeper-server/src/main/java/org/apache/bookkeeper/zookeeper/ZooKeeperClient.java
Labels: hacktoberfest-accepted

#2441 Protobuf should be serialized to direct memory instead of heap memory
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/BookieProtoEncoding.java
Labels: hacktoberfest-accepted

#2460 Limit maven http connection pool TTL in Github flows
  .github/workflows/bookie-tests.yml
  .github/workflows/client-tests.yml
  .github/workflows/compatibility-check-java11.yml
  .github/workflows/compatibility-check-java8.yml
  .github/workflows/integration-tests.yml
  .github/workflows/pr-validation.yml
  .github/workflows/remaining-tests.yml
  .github/workflows/replication-tests.yml
  .github/workflows/tls-tests.yml
Labels: area/build, release/4.12.0, type/infra

#2479 add channel information if catch exception in BookieRequestHandler
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/BookieRequestHandler.java
Labels: area/logging, release/4.12.0, type/improvement

#2459 Issue 1262: Remove Deprecated CodahaleMetricsProvider, CodahaleOpStatsLogger and …
  bookkeeper-stats-providers/codahale-metrics-provider/src/main/java/org/apache/bookkeeper/stats/CodahaleMetricsProvider.java
  bookkeeper-stats-providers/codahale-metrics-provider/src/main/java/org/apache/bookkeeper/stats/CodahaleOpStatsLogger.java
  bookkeeper-stats-providers/codahale-metrics-provider/src/main/java/org/apache/bookkeeper/stats/CodahaleStatsLogger.java
Labels: area/stats, release/4.12.0, type/cleanup

#2480 Upgrade Guava to 30.0-jre
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/DefaultSpeculativeRequestExecutionPolicy.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/test/ZooKeeperClusterUtil.java
  bookkeeper-stats-providers/codahale-metrics-provider/src/main/java/org/apache/bookkeeper/stats/codahale/CodahaleMetricsProvider.java
  pom.xml
  stream/clients/java/base/src/main/java/org/apache/bookkeeper/clients/utils/RpcUtils.java
  stream/common/src/main/java/org/apache/bookkeeper/common/util/ListenableFutures.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/BKLogSegmentWriter.java
  stream/statelib/src/test/java/org/apache/bookkeeper/statelib/impl/kv/TestRocksdbKVAsyncStore.java
  stream/statelib/src/test/java/org/apache/bookkeeper/statelib/impl/kv/TestRocksdbKVStore.java
  stream/statelib/src/test/java/org/apache/bookkeeper/statelib/impl/mvcc/TestMVCCStoreImpl.java
  tools/framework/src/main/java/org/apache/bookkeeper/tools/framework/Cli.java
Labels: area/bookie, area/client, release/4.12.0, type/improvement

#2403 Issue 2388: Bookie Http Service Servlet for Embedded Bookie
  bookkeeper-http/pom.xml
  bookkeeper-http/servlet-http-server/pom.xml
  bookkeeper-http/servlet-http-server/src/main/java/org/apache/bookkeeper/http/servlet/BookieHttpServiceServlet.java
  bookkeeper-http/servlet-http-server/src/main/java/org/apache/bookkeeper/http/servlet/BookieServletHttpServer.java
  bookkeeper-http/servlet-http-server/src/main/java/org/apache/bookkeeper/http/servlet/package-info.java
  bookkeeper-http/servlet-http-server/src/test/java/org/apache/bookkeeper/http/servlet/JettyHttpServer.java
  bookkeeper-http/servlet-http-server/src/test/java/org/apache/bookkeeper/http/servlet/TestBookieHttpServiceServlet.java
  pom.xml
Labels: area/bookie, release/4.12.0, type/feature

#2400 ISSUE #1979 Metrics link missing
  site/docs/4.10.0/admin/metrics.md
  site/docs/4.11.0/admin/metrics.md
  site/docs/4.11.1/admin/metrics.md
  site/docs/4.5.0/admin/metrics.md
  site/docs/4.5.1/admin/metrics.md
  site/docs/4.6.0/admin/metrics.md
  site/docs/4.6.1/admin/metrics.md
  site/docs/4.6.2/admin/metrics.md
  site/docs/4.7.0/admin/metrics.md
  site/docs/4.7.1/admin/metrics.md
  site/docs/4.7.2/admin/metrics.md
  site/docs/4.7.3/admin/metrics.md
  site/docs/4.8.0/admin/metrics.md
  site/docs/4.8.1/admin/metrics.md
  site/docs/4.8.2/admin/metrics.md
  site/docs/4.9.0/admin/metrics.md
  site/docs/4.9.1/admin/metrics.md
  site/docs/4.9.2/admin/metrics.md
  site/docs/latest/admin/metrics.md
Labels: area/website, release/4.12.0, type/cleanup

#2468 Issue 2467: Remove redundant synchronized
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/FileInfo.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/IndexPersistenceMgr.java
Labels: area/bookie, release/4.12.0, type/cleanup

#2472 Add Add ForceAuditChecksCmd to reset auditor checks last run time
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/BookieShellTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/ForceAuditorChecksCmdTest.java
Labels: area/tools

#2487 [release 4.12.0] fix version 4.12 after release
  docker/Dockerfile
  site/_config.yml
  site/releases.md
Labels: area/docker, area/website, release/4.13.0, type/cleanup

#2491 Upgrade to Curator 5.1
  pom.xml
  stream/storage/impl/src/main/java/org/apache/bookkeeper/stream/storage/impl/cluster/ZkClusterMetadataStore.java
Labels: area/metadata, release/4.13.0, type/improvement

#2481 [Doc][Issue #2442] New website Project Page
  site2/docs/privacy.md
  site2/website/pages/en/project.js
Labels: area/website, release/4.13.0, type/improvement

#2493 Opportunistic Striping
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerCreateOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ClientConfiguration.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/MockBookKeeperTestCase.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/api/BookKeeperBuildersTest.java
Labels: area/client, release/4.13.0, type/feature

#2484 Publish BP-38 BookieEndpointInfo for BookKeeper Standalone mode
  conf/standalone.conf
  stream/server/src/main/java/org/apache/bookkeeper/stream/server/StorageServer.java
  stream/server/src/main/java/org/apache/bookkeeper/stream/server/StreamStorageLifecycleComponent.java
  stream/server/src/main/java/org/apache/bookkeeper/stream/server/service/BookieService.java
Labels: area/tools, release/4.13.0, type/bug

#2495 [Backport] Opportunistic Striping
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerCreateOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ClientConfiguration.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/MockBookKeeperTestCase.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/api/BookKeeperBuildersTest.java
Labels: area/client, release/4.11.2, type/feature

#2438 Issue 2437: Fix typo in ledgers data directory for Docker
  docker/README.md
Labels: area/documentation, release/4.13.0, type/cleanup
