Repository apache/bookkeeper, pull requests merged in 2020-05, with the labels that each got.

#2313 Issue 2310: Adds the autorecovery status service.
  bookkeeper-http/http-server/src/main/java/org/apache/bookkeeper/http/HttpRouter.java
  bookkeeper-http/http-server/src/main/java/org/apache/bookkeeper/http/HttpServer.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/http/BKHttpServiceProvider.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/http/service/AutoRecoveryStatusService.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/server/http/service/AutoRecoveryStatusServiceTest.java
Labels: area/http, release/4.11.0, type/feature

#2307 [Doc]: SSLContextFactory -> TLSContextFactory
  conf/bk_server.conf
  site/_data/config/bk_server.yaml
Labels: area/documentation, release/4.11.0, type/bug

#2219 Issue #2212: Fix issues in Bookkeeper Docker image that prevented containers from starting up
  bin/common.sh
  docker/Dockerfile
  docker/docker-compose.yml
  docker/scripts/init_bookie.sh
  tests/docker-images/current-version-image/Dockerfile
Labels: area/docker, release/4.11.0, type/improvement

#2309 Rerun the failed tests by comments
  .github/workflows/bot.yml
Labels: area/tests, release/4.11.0, type/improvement

#2323 Do not download SNAPSHOT during GitHub actions checks
  .github/workflows/bookie-tests.yml
  .github/workflows/client-tests.yml
  .github/workflows/compatibility-check-java11.yml
  .github/workflows/compatibility-check-java8.yml
  .github/workflows/integration-tests.yml
  .github/workflows/pr-validation.yml
  .github/workflows/remaining-tests.yml
  .github/workflows/replication-tests.yml
  .github/workflows/tls-tests.yml
Labels: area/build, release/4.11.0, type/improvement

#2112 Issue #2106: Update ZookKeeper dependency to 3.5.7
  bookkeeper-dist/src/main/resources/LICENSE-all.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-bkctl.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-server.bin.txt
  pom.xml
  shaded/distributedlog-core-shaded/pom.xml
  tests/integration-tests-topologies/src/main/java/org/apache/bookkeeper/tests/containers/ZKContainer.java
Labels: area/client, release/4.11.0, type/improvement

#2332 [CI] Using master action code for checking rerun commands
  .github/workflows/bot.yml
Labels: area/build, release/4.11.0, type/task

#2156 [bookie-mTLS] add support of hostname verification
  bookkeeper-dist/src/main/resources/LICENSE-all.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-bkctl.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-server.bin.txt
  bookkeeper-server/pom.xml
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ClientConfiguration.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/AuthHandler.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/PerChannelBookieClient.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/tls/TestTLS.java
  pom.xml
Labels: area/client, release/4.11.0, type/improvement

#2329 Fix wrong module artifactId
  tests/backward-compat/current-server-old-clients/pom.xml
  tests/backward-compat/hierarchical-ledger-manager/pom.xml
  tests/backward-compat/hostname-bookieid/pom.xml
  tests/backward-compat/old-cookie-new-cluster/pom.xml
  tests/backward-compat/pom.xml
  tests/backward-compat/recovery-no-password/pom.xml
  tests/backward-compat/upgrade-direct/pom.xml
  tests/backward-compat/upgrade/pom.xml
  tests/backward-compat/yahoo-custom-version/pom.xml
  tests/integration/cluster/pom.xml
  tests/integration/pom.xml
  tests/integration/smoke/pom.xml
  tests/integration/standalone/pom.xml
Labels: area/build, release/4.11.0, type/task

#2333 QuorumCoverage should only count unknown nodes
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerHandle.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerRecoveryOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/ReadLastConfirmedOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RoundRobinDistributionSchedule.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/ParallelLedgerRecoveryTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/ReadLastConfirmedOpTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/RoundRobinDistributionScheduleTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/test/BookieFailureTest.java
  stream/distributedlog/core/src/main/java/org/apache/bookkeeper/client/LedgerReader.java
Labels: area/client, release/4.11.0, type/bug

#2306 Issue #2305: Bookies should not be allowed to come up without a cookie in metadata store.
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Bookie.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/BookieInitializationTest.java
Labels: area/bookie, release/4.11.0, type/bug

#2322 Add /api/v1/bookie/info REST API
  bookkeeper-http/http-server/src/main/java/org/apache/bookkeeper/http/HttpRouter.java
  bookkeeper-http/http-server/src/main/java/org/apache/bookkeeper/http/HttpServer.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/http/BKHttpServiceProvider.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/http/service/BookieInfoService.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/server/http/TestHttpService.java
  site/docs/latest/admin/http.md
Labels: area/http, release/4.11.0, type/feature

#2301 Handle NPE when inet address is not able to resolve network address
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/TopologyAwareEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/net/NetUtils.java
Labels: area/client, release/4.11.0, type/bug

#2336 [bookkeeper-tool] Fix update rate-limiting for update-ledger command
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/MetadataUpdateLoop.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/UpdateLedgerOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/FlipBookieIdCommand.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/UpdateLedgerOpTest.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/bookie/FlipBookieIdCommandTest.java
Labels: area/tools, release/4.11.0, type/bug

#2343 [BUG] Fix wrong jdk version on install doc page
  site/bps/BP-34-cluster-metadata-checker.md
  site/docs/latest/getting-started/installation.md
Labels: area/website, release/4.11.0, type/cleanup

#2337 [BUG] Fix flaky testLedgerOpenAfterBKCrashed
  bookkeeper-server/src/test/java/org/apache/bookkeeper/test/BookieFailureTest.java
Labels: area/tests, release/4.11.0, type/task

#2314 BP-38: Publish Bookie Service Info on Metadata Service
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/component/ComponentInfoPublisher.java
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/component/ComponentStarter.java
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/component/LifecycleComponent.java
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/component/LifecycleComponentStack.java
  bookkeeper-common/src/test/java/org/apache/bookkeeper/common/component/TestComponentStarter.java
  bookkeeper-proto/src/main/proto/DataFormats.proto
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Bookie.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieStateManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/ReadOnlyBookie.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeperAdmin.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/discover/BookieServiceInfo.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/discover/BookieServiceInfoUtils.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/discover/RegistrationClient.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/discover/RegistrationManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/discover/ZKRegistrationClient.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/discover/ZKRegistrationManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/BookieServer.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/Main.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/service/BookieService.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/service/HttpService.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookies/EndpointInfoCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/LocalBookKeeper.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/BookieInitializationTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/StateManagerTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/BookKeeperAdminTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/discover/BookieServiceInfoTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/AuditorPlacementPolicyCheckTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/AuditorReplicasCheckTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/server/TestMain.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/test/BookKeeperClusterTestCase.java
  metadata-drivers/etcd/src/main/java/org/apache/bookkeeper/metadata/etcd/EtcdRegistrationManager.java
  metadata-drivers/etcd/src/test/java/org/apache/bookkeeper/metadata/etcd/EtcdRegistrationTest.java
  metadata-drivers/etcd/src/test/java/org/apache/bookkeeper/metadata/etcd/testing/EtcdBKClusterTestBase.java
  site/_data/cli/shell.yaml
  stream/bk-grpc-name-resolver/src/test/java/org/apache/bookkeeper/grpc/resolver/BKRegistrationNameResolverTest.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/TestTxnId.java
  stream/server/src/main/java/org/apache/bookkeeper/stream/server/StorageServer.java
  stream/server/src/main/java/org/apache/bookkeeper/stream/server/service/BookieService.java
  stream/server/src/main/java/org/apache/bookkeeper/stream/server/service/RegistrationStateService.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookieCommandGroup.java
Labels: area/bookie, area/client, area/http, area/metadata, area/protocol, area/tools, release/4.11.0, type/feature

#2334 [CLEAN] remove duplicate property key in log4j.properties
  README.md
  bookkeeper-benchmark/conf/log4j.properties
Labels: area/logging, release/4.11.0, type/task

#2312 Issue 2311: Adds support to decode metadata in the API that list ledgers
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/http/service/ListLedgerService.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/server/http/service/ListLedgerServiceTest.java
Labels: area/http, release/4.11.0, type/improvement

#2350 [LOG] Change ERROR to INFO log level
  conf/log4j.shell.properties
Labels: area/config, release/4.11.0, type/task

#2346 [CLEAN] Replace com.google.common.base.Optional with java.util.Optional
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/ClientInternalConf.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/LongPollReadEntryProcessorV3.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/ReadLastConfirmedAndEntryContext.java
  site/docs/latest/api/distributedlog-api.md
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/BKAsyncLogReader.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/BKDistributedLogManager.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/BKDistributedLogNamespace.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/BKLogReadHandler.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/BKSyncLogReader.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/BookKeeperClient.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/BookKeeperClientBuilder.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/DistributedLogConfiguration.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/LocalDLMEmulator.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/ReadUtils.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/config/DynamicConfigurationFactory.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/impl/BKNamespaceDriver.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/impl/ZKLogMetadataStore.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/impl/federated/FederatedZKLogMetadataStore.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/impl/metadata/ZKLogStreamMetadataStore.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/metadata/LogMetadataForReader.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/metadata/LogMetadataStore.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/metadata/LogStreamMetadataStore.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/util/CommandLineUtils.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/util/Utils.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/TestBKLogReadHandler.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/TestDistributedLogBase.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/TestDistributedLogConfiguration.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/TestReadAheadEntryReader.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/TestReadUtils.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/config/TestDynamicConfigurationFactory.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/impl/TestZKLogMetadataStore.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/impl/federated/TestFederatedZKLogMetadataStore.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/util/TestUtils.java
Labels: area/bookie, area/client, area/dlog, release/4.11.0, type/cleanup

#2338 [BUG] Fix bookie port conflict when using LocalBookKeeper
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/LocalBookKeeper.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/PortManager.java
  bookkeeper-server/src/main/resources/log4j.properties
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/AdvertisedAddressTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/BookieInitializationTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/CookieTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/LedgerStorageCheckpointTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/UpgradeTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/test/BookKeeperClusterTestCase.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/test/BookieZKExpireTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/test/ReadOnlyBookieTest.java
  metadata-drivers/etcd/src/test/java/org/apache/bookkeeper/metadata/etcd/testing/EtcdBKClusterTestBase.java
Labels: area/bookie, release/4.11.0, type/bug

#2331 [CLEAN] Fix missing Override annotation
  bookkeeper-benchmark/src/main/java/org/apache/bookkeeper/benchmark/BenchBookie.java
  bookkeeper-benchmark/src/main/java/org/apache/bookkeeper/benchmark/BenchThroughputLatency.java
  bookkeeper-benchmark/src/main/java/org/apache/bookkeeper/benchmark/TestClient.java
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/component/LifecycleComponent.java
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/conf/validators/RangeValidator.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/auth/AuthProviderFactoryFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieStateManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Cookie.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/EntryKeyValue.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/FileSystemUpgrade.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/IndexInMemPageMgr.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/IndexPersistenceMgr.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Journal.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LedgerCache.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LedgerCacheImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LedgerDescriptorImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/AsyncCallback.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeperAdmin.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookieInfoReader.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/DefaultSpeculativeRequestExecutionPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerChecker.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerHandleAdv.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerRecoveryOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/PendingAddOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/PendingReadOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/ReadLastConfirmedAndEntryOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/ReadLastConfirmedOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RoundRobinDistributionSchedule.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/TopologyAwareEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/WeightedRandomSelectionImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/api/LastConfirmedAndEntry.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/api/LedgerEntry.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LedgerUnderreplicationManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/ZkLedgerUnderreplicationManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/net/AbstractDNSToSwitchMapping.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/net/NetworkTopologyImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/processor/RequestProcessor.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/AuthHandler.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/BookieClientImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/BookieProtocol.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/WriteEntryProcessor.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/Auditor.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/AuditorElector.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tls/TLSContextFactory.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/DaemonThreadFactory.java
  bookkeeper-stats-providers/codahale-metrics-provider/src/main/java/org/apache/bookkeeper/stats/CodahaleOpStatsLogger.java
  bookkeeper-stats-providers/codahale-metrics-provider/src/main/java/org/apache/bookkeeper/stats/codahale/CodahaleOpStatsLogger.java
  circe-checksum/src/main/java/com/scurrilous/circe/impl/IntStatefulLongHash.java
  stream/clients/java/base/src/main/java/org/apache/bookkeeper/clients/impl/internal/api/LocationClient.java
  stream/common/src/main/java/org/apache/bookkeeper/common/util/AutoAsyncCloseable.java
  stream/statelib/src/main/java/org/apache/bookkeeper/statelib/api/StateStore.java
  stream/storage/api/src/main/java/org/apache/bookkeeper/stream/storage/api/sc/StorageContainer.java
  stream/storage/api/src/main/java/org/apache/bookkeeper/stream/storage/api/sc/StorageContainerRegistry.java
  stream/storage/api/src/main/java/org/apache/bookkeeper/stream/storage/api/sc/StorageContainerServiceFactory.java
  stream/storage/impl/src/main/java/org/apache/bookkeeper/stream/storage/impl/service/RangeStoreServiceImpl.java
  tests/integration-tests-utils/src/main/java/org/apache/bookkeeper/tests/integration/utils/MavenClassLoader.java
Labels: area/bookie, release/4.11.0, type/cleanup
