Repository apache/bookkeeper, pull requests merged in 2020-03, with the labels that each got.

#2257 2178: IOException Should Be Thrown When Journal Is Corrupted
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/JournalChannel.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/BookieJournalTest.java
Labels: area/bookie, release/4.11.0, type/bug

#2268 Move the result of the BKCTL to the console by default
  bin/bkctl
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/CreateNewLogTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/TestEntryLog.java
  conf/log4j.cli.properties
  conf/log4j.shell.properties
Labels: area/tools, release/4.11.0, type/improvement

#2233 Drop Maven Profile -Dstream
  .test-infra/jenkins/job_bookkeeper_codecoverage.groovy
  .test-infra/jenkins/job_bookkeeper_postcommit_master_java11.groovy
  .test-infra/jenkins/job_bookkeeper_postcommit_master_java8.groovy
  .test-infra/jenkins/job_bookkeeper_postcommit_validation_master.groovy
  .test-infra/jenkins/job_bookkeeper_release_nightly_snapshot.groovy
  bin/common.sh
  bookkeeper-dist/all/pom.xml
  bookkeeper-dist/server/pom.xml
  dev/release/001-release-branch.sh
  dev/release/002-release-prepare.sh
  dev/release/003-release-perform.sh
  dev/ticktoc.sh
  dev/update-snapshot-version.sh
  pom.xml
  stream/distributedlog/core/pom.xml
  stream/distributedlog/pom.xml
  tests/integration/pom.xml
  tools/all/pom.xml
  tools/pom.xml
Labels: area/build

#2241 Fixes vertx can not receive the request body
  bookkeeper-http/http-server/src/main/java/org/apache/bookkeeper/http/service/NullHttpService.java
  bookkeeper-http/vertx-http-server/src/main/java/org/apache/bookkeeper/http/vertx/VertxHttpServer.java
  bookkeeper-http/vertx-http-server/src/test/java/org/apache/bookkeeper/http/vertx/TestVertxHttpServer.java
  stream/storage/impl/src/main/java/org/apache/bookkeeper/stream/storage/impl/cluster/ZkClusterInitializer.java
Labels: area/http, release/4.11.0, type/bug

#2284 fix bookie decommission sleep timeout value is negative bug
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeperAdmin.java
Labels: area/tools, release/4.11.0, type/bug

#2291 Update Prometheus library to 0.8.1
  bookkeeper-dist/src/main/resources/NOTICE-all.bin.txt
  bookkeeper-dist/src/main/resources/NOTICE-server.bin.txt
  pom.xml
Labels: area/stats, release/4.10.1, type/task

#2290 fix some stats monitor metrics
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Journal.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/DbLedgerStorageStats.java
Labels: area/bookie, area/stats, release/4.11.0, type/bug

#2287 Add Journal PageCache flush interval control when journalSyncData is disabled
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Journal.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ServerConfiguration.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/BookieJournalPageCacheFlushTest.java
  conf/bk_server.conf
Labels: area/bookie, release/4.11.0, type/improvement

#2286 Do not log WARNING about PlacementPolicy for tests and simple setups
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookieWatcherImpl.java
Labels: area/logging, release/4.11.0, type/improvement

#2151 [bookie-mtls] add BouncyCastleProvider for security-provider to avoid InvalidKeyException
  bookkeeper-dist/src/assemble/bin-all.xml
  bookkeeper-dist/src/assemble/bin-server.xml
  bookkeeper-dist/src/assemble/bkctl.xml
  bookkeeper-dist/src/main/resources/LICENSE-all.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-bkctl.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-server.bin.txt
  bookkeeper-dist/src/main/resources/deps/bouncycastle-1.60/LICENSE.html
  bookkeeper-server/pom.xml
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tls/TLSContextFactory.java
  pom.xml
Labels: area/bookie, area/security, release/4.11.0, type/improvement

#2280 #2279 fix NPE when exec readjournal command
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
Labels: area/bookie, release/4.11.0, type/bug

#2281 [bookie-ledger-recovery] Fix bookie recovery stuck even with enough ack-quorum response
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/ReadLastConfirmedOp.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/ParallelLedgerRecoveryTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/test/BookieFailureTest.java
Labels: area/client, release/4.11.0, type/bug

#2297 Update Arquillian Cube to 1.18.2
  pom.xml
Labels: area/tests, release/4.11.0, type/improvement

#2300 Unable to enable TLS if using v2 protocol
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/BookieProtoEncoding.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/PerChannelBookieClient.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/proto/BookieProtoEncodingTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/tls/TestTLS.java
Labels: area/protocol, release/4.10.1, release/4.11.0, type/bug

#2298 Allow build on JDK14 - upgrade Groovy compiler
  pom.xml
  tests/docker-images/all-released-versions-image/pom.xml
  tests/integration-tests-base-groovy/pom.xml
Labels: area/build, release/4.11.0, type/task

#2245 [bookie-server-config] Avoid considering empty journalDirectories
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ServerConfiguration.java
Labels: area/bookie, area/config, release/4.11.0, type/improvement
