Repository apache/bookkeeper, pull requests merged in 2021-04, with the labels that each got.

#2645 Defect-Fix Compaction status report into correct buckets.
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/GarbageCollectorThread.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/GarbageCollectorThreadTest.java
Labels: area/bookie

#2674 ISSUE-2640: BP-43: gradle build: sign published packages
  build.gradle
Labels: area/build

#2673 ISSUE-2640: BP-43 Build microbenchmark with gradle and run microbench…
  dependencies.gradle
  microbenchmarks/build.gradle
  microbenchmarks/run_with_gradle.sh
  settings.gradle
Labels: area/build

#2671 ISSUE-2640: BP-43: Exclude smoke tests for now can be enabled when we move to gradle.
  tests/integration/smoke/build.gradle
Labels: area/build, release/4.14.0, type/bug

#2680 ISSUE-2640: BP-43 Integrate checkstyle with gradle
  build.gradle
  buildtools/src/main/resources/bookkeeper/checkstyle.xml
  buildtools/src/main/resources/bookkeeper/suppressions.xml
  gradle.properties
Labels: area/build, release/4.14.0, type/bug

#2678 ISSUE-2640: BP-43 create shaded jar for bookkeeper-server and distrib…
  gradle.properties
  settings.gradle
  shaded/bookkeeper-server-shaded/build.gradle
  shaded/distributedlog-core-shaded/build.gradle
Labels: area/build, release/4.14.0, type/bug

#2644 fix openLedgerRereplicationGracePeriod default value doc
  conf/bk_server.conf
Labels: area/config, release/4.14.0, type/bug

#2684 ISSUE-2640: BP-43 integrate gradle javadoc plugin
  build.gradle
Labels: area/build, release/4.14.0, type/bug

#2654 Issue 2615: Fix for invalid ensemble issue during ledger recovery
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerRecoveryOp.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/LedgerRecovery2Test.java
Labels: area/bookie, release/4.14.0, type/bug

#2681 ISSUE-2640: BP-43: staging and setting up vote for release candidates
  bookkeeper-dist/all/build.gradle
  bookkeeper-dist/bkctl/build.gradle
  bookkeeper-dist/build.gradle
  bookkeeper-dist/server/build.gradle
  bookkeeper-stats-providers/codahale-metrics-provider/build.gradle
  build.gradle
  dev/release/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  settings.gradle
Labels: area/build

#2688 Add current ip address, long hostname and short hostname to /etc/hosts
  .github/actions/tune-runner-vm/action.yml
  .github/workflows/bookie-tests.yml
  .github/workflows/client-tests.yml
  .github/workflows/compatibility-check-java11.yml
  .github/workflows/compatibility-check-java8.yml
  .github/workflows/integration-tests.yml
  .github/workflows/pr-validation.yml
  .github/workflows/remaining-tests.yml
  .github/workflows/replication-tests.yml
  .github/workflows/stream-tests.yml
  .github/workflows/tls-tests.yml
Labels: area/build

#2689 ISSUE-2640: BP-43: Fix test cases that fail when running with gradle
  bookkeeper-server/build.gradle
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/EnableZkSecurityBasicTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/test/ZooKeeperUtil.java
  build.gradle
  dependencies.gradle
Labels: area/build, area/tests

#2682 ISSUE-2640: BP-43 Integrate spotbugs plugin with gradle
  bookkeeper-stats-providers/codahale-metrics-provider/build.gradle
  build.gradle
  buildtools/src/main/resources/bookkeeper/findbugsExclude.xml
  gradle.properties
  settings.gradle
  stream/statelib/src/main/java/org/apache/bookkeeper/statelib/impl/mvcc/MVCCStoreImpl.java
  stream/storage/impl/src/main/java/org/apache/bookkeeper/stream/storage/impl/metadata/stream/MetaRangeImpl.java
Labels: area/build, release/4.14.0, type/bug

#2686 Rocksdb tombstones
  bookkeeper-dist/src/main/resources/LICENSE-all.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-server.bin.txt
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/EntryLocationIndex.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/KeyValueStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/KeyValueStorageRocksDB.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/LedgerMetadataIndex.java
  pom.xml
Labels: area/bookie, release/4.14.0, type/bug

#2692 ISSUE-2640: BP-43 Some clean up and making sure that all bookkeepr-se…
  bookkeeper-server/build.gradle
  bookkeeper-server/src/test/java/org/apache/bookkeeper/test/ZooKeeperUtil.java
  build.gradle
  dependencies.gradle
Labels: area/build, release/4.14.0, type/bug

#2701 Fixed unnecessary copy to heap, see https://github.com/apache/pulsar/pull/10330
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/checksum/DigestManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/ByteBufList.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/util/ByteBufListTest.java
Labels: area/bookie
