Repository apache/bookkeeper, pull requests merged in 2021-09, with the labels that each got.

#2765 Release note for 4.14.2
  site/docs/4.14.2/overview/releaseNotes.md
Labels: area/release, release/4.12.2

#2775 [STREAMSTORAGE] support an optional time to live (TTL) on a per table basis
  bookkeeper-dist/src/main/resources/LICENSE-all.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-server.bin.txt
  dependencies.gradle
  pom.xml
  stream/proto/src/main/proto/kv.proto
  stream/proto/src/main/proto/kv_store.proto
  stream/proto/src/main/proto/stream.proto
  stream/statelib/src/main/java/org/apache/bookkeeper/statelib/api/StateStoreSpec.java
  stream/statelib/src/main/java/org/apache/bookkeeper/statelib/impl/kv/RocksdbKVStore.java
  stream/statelib/src/main/java/org/apache/bookkeeper/statelib/impl/mvcc/MVCCRecord.java
  stream/statelib/src/main/java/org/apache/bookkeeper/statelib/impl/mvcc/MVCCRecordCoder.java
  stream/statelib/src/main/java/org/apache/bookkeeper/statelib/impl/mvcc/MVCCStoreImpl.java
  stream/storage/impl/src/main/java/org/apache/bookkeeper/stream/storage/impl/kv/TableStoreCache.java
  stream/storage/impl/src/main/java/org/apache/bookkeeper/stream/storage/impl/service/RangeStoreServiceImpl.java
  stream/storage/impl/src/main/java/org/apache/bookkeeper/stream/storage/impl/store/MVCCStoreFactory.java
  stream/storage/impl/src/main/java/org/apache/bookkeeper/stream/storage/impl/store/MVCCStoreFactoryImpl.java
  stream/storage/impl/src/test/java/org/apache/bookkeeper/stream/storage/impl/TestStorageContainerStoreImpl.java
  stream/storage/impl/src/test/java/org/apache/bookkeeper/stream/storage/impl/kv/TableStoreCacheTest.java
  stream/storage/impl/src/test/java/org/apache/bookkeeper/stream/storage/impl/service/RangeStoreServiceImplTest.java
  stream/storage/impl/src/test/java/org/apache/bookkeeper/stream/storage/impl/store/MVCCStoreFactoryImplTest.java
  tests/integration/cluster/src/test/java/org/apache/bookkeeper/tests/integration/stream/TableClientSimpleTest.java
Labels: type/feature, area/bookie, release/4.15.0

#2774 ISSUE-2773: Add db ledgers index rebuild op
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Journal.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/LedgersIndexCheckOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/LedgersIndexRebuildOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/LocationsIndexRebuildOp.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/CheckDBLedgersIndexCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/RebuildDBLedgerLocationsIndexCommand.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookie/RebuildDBLedgersIndexCommand.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/storage/ldb/LedgersIndexRebuildTest.java
  tools/ledger/src/main/java/org/apache/bookkeeper/tools/cli/commands/BookieCommandGroup.java
Labels: area/bookie, type/improvement, release/4.15.0

#2807 ISSUE #2640: BP-43 Migrate bookkeeper client tests to gradle
  .github/workflows/client-tests.yml
  bookkeeper-server/build.gradle
  gradle.properties
  settings.gradle
Labels: area/tests, area/build, type/improvement, release/4.15.0

#2783 Use try with resource to optimize code
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/LocalBookKeeper.java
Labels: area/bookie, type/cleanup, release/4.15.0

#2809 ISSUE #2640: BP-43 Migrate bookkeepr-server org.apache.bookkeeper.bookie.* tests to gradle
  .github/workflows/bookie-tests.yml
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/EntryLogTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/InterleavedLedgerStorageTest.java
Labels: area/build, type/improvement, release/4.15.0
