Repository apache/bookkeeper, pull requests merged in 2022-06, with the labels that each got.

#3308 Issue 3306: Bookie can't start after rebooting due the cookie mistmatch
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/LegacyCookieValidation.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/CookieTest.java
Labels: type/bug, release/4.15.1

#3309 Try to use Java9 CRC32C when JNI based CRC is not available
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/checksum/CRC32CDigestManager.java
  circe-checksum/src/main/java/com/scurrilous/circe/checksum/Crc32cIntChecksum.java
  circe-checksum/src/main/java/com/scurrilous/circe/checksum/Crc32cLongChecksum.java
  circe-checksum/src/main/java/com/scurrilous/circe/checksum/IntHash.java
  circe-checksum/src/main/java/com/scurrilous/circe/checksum/Java8IntHash.java
  circe-checksum/src/main/java/com/scurrilous/circe/checksum/Java9IntHash.java
  circe-checksum/src/main/java/com/scurrilous/circe/checksum/JniIntHash.java
  circe-checksum/src/test/java/com/scurrilous/circe/checksum/ChecksumTest.java
  microbenchmarks/run.sh
  microbenchmarks/src/main/java/org/apache/bookkeeper/proto/checksum/DigestTypeBenchmark.java
  shaded/distributedlog-core-shaded/pom.xml
Labels: type/improvement, release/4.15.1

#3321 Fix the PendingAddOp is not recycled when LedgerHandler closed
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerHandle.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/PendingAddOp.java
Labels: type/bug, area/client, release/4.14.6, release/4.15.1

#3323 Fix the V2 AddRequest object leak issue
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/PerChannelBookieClient.java
Labels: type/bug, area/client, release/4.14.6, release/4.15.1

#3324 Apply the backpressure changes on the V2 requests
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/BookieRequestProcessor.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/PacketProcessorBase.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/ReadEntryProcessor.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/WriteEntryProcessor.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/proto/BookieBackpressureForV2Test.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/proto/WriteEntryProcessorTest.java
Labels: area/bookie, type/improvement, release/4.14.6, release/4.15.1

#3346 upgrade groovy from 2.5.17 to 3.0.11 to fix CVE-2019-11358(7.5)
  pom.xml
  tests/pom.xml
Labels: dependencies, release/4.14.6, release/4.15.1

#3367 Fix bookie CI test not run
  .github/workflows/bookie-tests.yml
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/SingleDirectoryDbLedgerStorage.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/storage/ldb/DbLedgerStorageTest.java
Labels: area/tests
