Repository apache/bookkeeper, pull requests merged in 2022-02, with the labels that each got.

#3008 Forcing the same version of netty across the projects
  build.gradle
  dependencies.gradle
Labels: area/build, type/cleanup, release/4.15.0

#3010 Forced the same version of guava (plus upgraded it); fixed deprecations etc.
  bookkeeper-dist/src/main/resources/LICENSE-all.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-bkctl.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-server.bin.txt
  bookkeeper-server/src/main/java/org/apache/bookkeeper/metastore/Value.java
  build.gradle
  cpu-affinity/src/main/java/org/apache/bookkeeper/common/util/affinity/impl/NativeUtils.java
  cpu-affinity/src/main/java/org/apache/bookkeeper/common/util/affinity/impl/ProcessorsInfo.java
  dependencies.gradle
  stream/common/src/test/java/org/apache/bookkeeper/common/router/HashRouterTest.java
Labels: area/build, type/cleanup, release/4.15.0

#3020 Upgrade Netty to 4.1.73.Final
  bookkeeper-dist/all/build.gradle
  bookkeeper-dist/bkctl/build.gradle
  bookkeeper-dist/server/build.gradle
  bookkeeper-dist/src/assemble/bin-all.xml
  bookkeeper-dist/src/assemble/bin-server.xml
  bookkeeper-dist/src/assemble/bkctl.xml
  bookkeeper-dist/src/main/resources/LICENSE-all.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-bkctl.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-server.bin.txt
  bookkeeper-dist/src/main/resources/NOTICE-all.bin.txt
  bookkeeper-dist/src/main/resources/NOTICE-bkctl.bin.txt
  bookkeeper-dist/src/main/resources/NOTICE-server.bin.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.aalto-xml.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.base64.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.bouncycastle.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.caliper.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.commons-lang.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.commons-logging.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.compress-lzf.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.dnsinfo.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.harmony.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.hpack.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.hyper-hpack.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.jboss-marshalling.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.jbzip2.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.jctools.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.jfastlz.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.jsr166y.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.jzlib.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.libdivsufsort.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.log4j.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.lz4.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.lzma-java.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.mvn-wrapper.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.nghttp2-hpack.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.protobuf.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.slf4j.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.snappy.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/LICENSE.webbit.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.73.Final/NOTICE.harmony.txt
  dependencies.gradle
Labels: area/build, type/improvement, release/4.15.0

#2997 [backward tests] add BookKeeper 4.14.4
  tests/backward-compat/upgrade/src/test/groovy/org/apache/bookkeeper/tests/backwardcompat/TestCompatUpgrade.groovy
  tests/docker-images/all-released-versions-image/Dockerfile
  tests/integration-tests-utils/src/main/java/org/apache/bookkeeper/tests/integration/utils/BookKeeperClusterUtils.java
Labels: type/task, area/tests, release/4.15.0

#2924 Bump gradle to 7.3.3, compat java 17
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  tests/backward-compat/bc-non-fips/build.gradle
  tests/integration/cluster/build.gradle
  tests/integration/smoke/build.gradle
Labels: area/build

#2769 Support specifying bookie http port as a command argument
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/Main.java
Labels: release/4.15.0, release/4.14.5

#3030 Fix performance issues to avoid unnecessary loops.
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tls/BookieAuthZFactory.java
Labels: type/improvement

#3026 Upgrade RocksDB
  bookkeeper-dist/src/main/resources/LICENSE-all.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-server.bin.txt
  dependencies.gradle
Labels: type/bug, area/build, release/4.15.0

#2964 Skip update entryLogMetaMap if not modified
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/GarbageCollectorThread.java
Labels: release/4.15.0

#2980 Add rack name invalid check
  bookkeeper-server/src/main/java/org/apache/bookkeeper/net/NetworkTopologyImpl.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/net/NetworkTopologyImplTest.java
Labels: release/4.15.0

#2965 Support multi ledger directories for rocksdb backend entryMetadataMap
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/GarbageCollectorThread.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/InterleavedLedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/PersistentEntryLogMetadataMap.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/SingleDirectoryDbLedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ServerConfiguration.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/BookKeeperConstants.java
Labels: release/4.15.0

#2857 Ensure BookKeeper process receives sigterm in docker container
  docker/scripts/entrypoint.sh
Labels: type/bug, area/docker, release/4.15.0

#2824 make rocksdb format version configurable
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/KeyValueStorageRocksDB.java
  conf/bk_server.conf
Labels: area/bookie, type/improvement, release/4.15.0

#2805 replication stat num-under-replicated-ledgers changed as with the pro…
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/LedgerUnderreplicationManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/NullMetadataBookieDriver.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/ZkLedgerUnderreplicationManager.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/Auditor.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/ReplicationStats.java
Labels: type/bug, area/bookie, release/4.15.0

#2873 Explicit error message if an exception other than BKNoSuchLedgerExistsOnMetadataServerException occurs in over-replicated ledger GC
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/ScanAndCompareGarbageCollector.java
Labels: area/bookie, type/improvement, release/4.15.0

#2910 fix(cli): incorrect description for autodiscovery
  bin/bookkeeper
  site/_data/cli/bookkeeper.yaml
Labels: area/tools, type/cleanup, release/4.15.0

#3035 Add flaky-test template to track many flaky-test.
  .github/ISSUE_TEMPLATE/flaky_test.md
Labels: area/build, type/improvement, release/4.15.0

#2836 Use OutOfMemoryPolicy when the direct memory is insufficient when reading the entry in ReadCache
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/ReadCache.java
Labels: area/bookie, type/improvement, release/4.15.0

#3042 [ci] Dump stacktrace when a job is cancelled
  .github/workflows/bookie-tests.yml
  .github/workflows/client-tests.yml
  .github/workflows/compatibility-check-java11.yml
  .github/workflows/compatibility-check-java8.yml
  .github/workflows/integration-tests.yml
  .github/workflows/remaining-tests.yml
  .github/workflows/replication-tests.yml
  .github/workflows/stream-tests.yml
  .github/workflows/tls-tests.yml
  build.gradle
  dev/ci-tool
Labels: area/build, type/improvement, release/4.15.0

#3045 Bump netty version to 4.1.74.Final
  bookkeeper-dist/all/build.gradle
  bookkeeper-dist/bkctl/build.gradle
  bookkeeper-dist/server/build.gradle
  bookkeeper-dist/src/assemble/bin-all.xml
  bookkeeper-dist/src/assemble/bin-server.xml
  bookkeeper-dist/src/assemble/bkctl.xml
  bookkeeper-dist/src/main/resources/LICENSE-all.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-bkctl.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-server.bin.txt
  bookkeeper-dist/src/main/resources/NOTICE-all.bin.txt
  bookkeeper-dist/src/main/resources/NOTICE-bkctl.bin.txt
  bookkeeper-dist/src/main/resources/NOTICE-server.bin.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.aalto-xml.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.base64.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.bouncycastle.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.caliper.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.commons-lang.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.commons-logging.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.compress-lzf.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.dnsinfo.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.harmony.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.hpack.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.hyper-hpack.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.jboss-marshalling.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.jbzip2.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.jctools.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.jfastlz.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.jsr166y.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.jzlib.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.libdivsufsort.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.log4j.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.lz4.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.lzma-java.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.mvn-wrapper.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.nghttp2-hpack.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.protobuf.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.slf4j.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.snappy.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/LICENSE.webbit.txt
  bookkeeper-dist/src/main/resources/deps/netty-4.1.74.Final/NOTICE.harmony.txt
  dependencies.gradle
Labels: dependencies

#3043 [ISSUE 3040] RocksDB segfaulted during CompactionTest
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/GarbageCollectorThread.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/PersistentEntryLogMetadataMap.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/CompactionByBytesWithMetadataCacheTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/CompactionByBytesWithoutMetadataCacheTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/CompactionByEntriesWithMetadataCacheTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/CompactionByEntriesWithoutMetadataCacheTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/CompactionTest.java
Labels: type/bug, area/bookie, area/tests, release/4.15.0

#3049 [Issue 3034] Add extra checks in the mock to help with error troubleshooting on CI
  stream/statelib/src/test/java/org/apache/bookkeeper/statelib/testing/executors/MockExecutorController.java
Labels: area/tests, type/improvement, release/4.15.0

#3065 ISSUE 3034: Fixed flaky test MockExecutorControllerWithSchedulerTest
  stream/statelib/src/test/java/org/apache/bookkeeper/statelib/testing/executors/MockExecutorControllerWithSchedulerTest.java
Labels: area/tests

#3061 Optimize memory：Support shrinking in ConcurrentLongLongPairHashMap
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/ReadCache.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/WriteCache.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/collections/ConcurrentLongLongPairHashMap.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/util/collections/ConcurrentLongLongPairHashMapTest.java
Labels: type/improvement

#3064 ISSUE 2898: DistributedLogManager can skip over a segment on read.
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/ReadAheadEntryReader.java
  stream/distributedlog/core/src/test/java/org/apache/distributedlog/TestBKDistributedLogManager.java
Labels: type/bug, area/dlog, release/4.15.0

#3072 reduce unnecessary expansions for ConcurrentLong map and set
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/collections/ConcurrentLongHashMap.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/collections/ConcurrentLongHashSet.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/collections/ConcurrentLongLongHashMap.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/collections/ConcurrentLongLongPairHashMap.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/collections/ConcurrentOpenHashMap.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/util/collections/ConcurrentOpenHashSet.java
Labels: type/improvement
