Repository apache/bookkeeper, pull requests merged in 2022-09, with the labels that each got.

#3440 Add 4.15.1 release note
  site3/website/src/pages/release-notes.md
  site3/website/versioned_docs/version-4.15.1/admin/autorecovery.md
  site3/website/versioned_docs/version-4.15.1/admin/bookies.md
  site3/website/versioned_docs/version-4.15.1/admin/decomission.md
  site3/website/versioned_docs/version-4.15.1/admin/geo-replication.md
  site3/website/versioned_docs/version-4.15.1/admin/http.md
  site3/website/versioned_docs/version-4.15.1/admin/metrics.md
  site3/website/versioned_docs/version-4.15.1/admin/perf.md
  site3/website/versioned_docs/version-4.15.1/admin/placement.md
  site3/website/versioned_docs/version-4.15.1/admin/upgrade.md
  site3/website/versioned_docs/version-4.15.1/api/distributedlog-api.md
  site3/website/versioned_docs/version-4.15.1/api/ledger-adv-api.md
  site3/website/versioned_docs/version-4.15.1/api/ledger-api.md
  site3/website/versioned_docs/version-4.15.1/api/overview.md
  site3/website/versioned_docs/version-4.15.1/deployment/kubernetes.md
  site3/website/versioned_docs/version-4.15.1/deployment/manual.md
  site3/website/versioned_docs/version-4.15.1/development/codebase.md
  site3/website/versioned_docs/version-4.15.1/development/protocol.md
  site3/website/versioned_docs/version-4.15.1/getting-started/concepts.md
  site3/website/versioned_docs/version-4.15.1/getting-started/installation.md
  site3/website/versioned_docs/version-4.15.1/getting-started/run-locally.md
  site3/website/versioned_docs/version-4.15.1/overview/overview.md
  site3/website/versioned_docs/version-4.15.1/reference/cli.md
  site3/website/versioned_docs/version-4.15.1/reference/config.md
  site3/website/versioned_docs/version-4.15.1/security/overview.md
  site3/website/versioned_docs/version-4.15.1/security/sasl.md
  site3/website/versioned_docs/version-4.15.1/security/tls.md
  site3/website/versioned_docs/version-4.15.1/security/zookeeper.md
  site3/website/versioned_sidebars/version-4.15.1-sidebars.json
Labels: area/website, release/4.15.1

#3463 Optimize log for failed to write entry
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/PendingAddOp.java
Labels: area/client, release/4.14.6, release/4.15.2

#3359 Feature: auto recover support repaired not adhering placement ledger
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeper.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeperAdmin.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookieWatcherImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/EnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerFragment.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RackawareEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RackawareEnsemblePlacementPolicyImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/TopologyAwareEnsemblePlacementPolicy.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ServerConfiguration.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/Auditor.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/ReplicationWorker.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestRackawareEnsemblePlacementPolicy.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestZoneawareEnsemblePlacementPolicy.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/AuditorPlacementPolicyCheckTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/replication/TestReplicationWorker.java
  site3/website/docs/reference/config.md
Labels: type/feature, area/autorecovery

#3469 Bump snakeyaml from 1.30 to 1.31 to solve CVE-2022-25857
  pom.xml
Labels: dependencies

#3478 [clean code]remove unused fields in bookkeeperserverstats
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookKeeperServerStats.java
Labels: area/stats, release/4.14.6, release/4.15.2

#3480 Fix the deadlock when only using io thread to handle request
  bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/PacketProcessorBase.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/BookieRecoveryUseIOThreadTest.java
Labels: type/bug, release/4.14.6, release/4.15.2

#3474 Add option to clean up test ledger after simpletest.
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/client/SimpleTestCommand.java
  tools/ledger/src/test/java/org/apache/bookkeeper/tools/cli/commands/client/SimpleTestCommandTest.java
Labels: area/utils

#3485 upgrade hadoop version to 3.2.4
  pom.xml
Labels: dependencies, release/4.14.6, release/4.15.2

#3475 Add 4.15.1 to versions file
  site3/website/versioned_docs/version-4.15.0/admin/autorecovery.md
  site3/website/versioned_docs/version-4.15.0/admin/bookies.md
  site3/website/versioned_docs/version-4.15.0/admin/decomission.md
  site3/website/versioned_docs/version-4.15.0/admin/geo-replication.md
  site3/website/versioned_docs/version-4.15.0/admin/http.md
  site3/website/versioned_docs/version-4.15.0/admin/metrics.md
  site3/website/versioned_docs/version-4.15.0/admin/perf.md
  site3/website/versioned_docs/version-4.15.0/admin/placement.md
  site3/website/versioned_docs/version-4.15.0/admin/upgrade.md
  site3/website/versioned_docs/version-4.15.0/api/distributedlog-api.md
  site3/website/versioned_docs/version-4.15.0/api/ledger-adv-api.md
  site3/website/versioned_docs/version-4.15.0/api/ledger-api.md
  site3/website/versioned_docs/version-4.15.0/api/overview.md
  site3/website/versioned_docs/version-4.15.0/deployment/kubernetes.md
  site3/website/versioned_docs/version-4.15.0/deployment/manual.md
  site3/website/versioned_docs/version-4.15.0/development/codebase.md
  site3/website/versioned_docs/version-4.15.0/development/protocol.md
  site3/website/versioned_docs/version-4.15.0/getting-started/concepts.md
  site3/website/versioned_docs/version-4.15.0/getting-started/installation.md
  site3/website/versioned_docs/version-4.15.0/getting-started/run-locally.md
  site3/website/versioned_docs/version-4.15.0/overview/overview.md
  site3/website/versioned_docs/version-4.15.0/reference/cli.md
  site3/website/versioned_docs/version-4.15.0/reference/config.md
  site3/website/versioned_docs/version-4.15.0/security/overview.md
  site3/website/versioned_docs/version-4.15.0/security/sasl.md
  site3/website/versioned_docs/version-4.15.0/security/tls.md
  site3/website/versioned_docs/version-4.15.0/security/zookeeper.md
  site3/website/versioned_docs/version-4.15.1/admin/bookies.md
  site3/website/versioned_docs/version-4.15.1/api/distributedlog-api.md
  site3/website/versioned_docs/version-4.15.1/getting-started/concepts.md
  site3/website/versioned_docs/version-4.15.1/getting-started/installation.md
  site3/website/versioned_docs/version-4.15.1/security/tls.md
  site3/website/versioned_sidebars/version-4.15.0-sidebars.json
  site3/website/versions.json
Labels: area/website, release/4.15.1

#3458 Speed up the rebuildinding of RocksDB index
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/LocationsIndexRebuildOp.java
Labels: area/bookie, type/improvement

#3499 Issue #3498 Fix bookkeeper command path in decommission doc
  site3/website/docs/admin/decomission.md
Labels: area/website

#3501 unified latency metric unit
  bookkeeper-common/src/main/java/org/apache/bookkeeper/common/stats/BroadCastStatsLogger.java
  bookkeeper-common/src/test/java/org/apache/bookkeeper/test/TestStatsProvider.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieImpl.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/EntryMemTable.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/EntryMemTableWithParallelFlusher.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/GarbageCollectorThread.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Journal.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/SyncThread.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/SingleDirectoryDbLedgerStorage.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/server/service/ScrubberService.java
  stats/bookkeeper-stats-api/src/main/java/org/apache/bookkeeper/stats/Counter.java
  stats/bookkeeper-stats-api/src/main/java/org/apache/bookkeeper/stats/NullStatsLogger.java
  stats/bookkeeper-stats-providers/codahale-metrics-provider/src/main/java/org/apache/bookkeeper/stats/codahale/CodahaleStatsLogger.java
  stats/bookkeeper-stats-providers/prometheus-metrics-provider/src/main/java/org/apache/bookkeeper/stats/prometheus/LongAdderCounter.java
  stats/bookkeeper-stats-providers/prometheus-metrics-provider/src/main/java/org/apache/bookkeeper/stats/prometheus/ThreadScopedLongAdderCounter.java
  stats/bookkeeper-stats-providers/prometheus-metrics-provider/src/test/java/org/apache/bookkeeper/stats/prometheus/TestPrometheusMetricsProvider.java
  stream/distributedlog/common/src/main/java/org/apache/distributedlog/common/stats/BroadCastStatsLogger.java
  stream/distributedlog/core/src/main/java/org/apache/distributedlog/BKAsyncLogWriter.java
Labels: area/stats

#3214 Issue 3070: Fix bug where checkAllLedgers gets stuck when read throttling is enabled
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerChecker.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestLedgerChecker.java
Labels: type/bug, area/autorecovery, release/4.14.6, release/4.15.3
