Repository apache/bookkeeper, pull requests merged in 2022-05, with the labels that each got.

#3198 [website] Add script for cut new release (release-notes, new docs, sidebar..)
  site3/README.md
  site3/website/scripts/release-major.sh
  site3/website/scripts/release-minor.sh
  site3/website/src/pages/community/release-guide.md
Labels: area/release, area/website

#3199 Release notes for 4.14.5
  site3/website/docusaurus.config.js
  site3/website/src/pages/release-notes.md
  site3/website/versioned_docs/version-4.14.5/admin/autorecovery.md
  site3/website/versioned_docs/version-4.14.5/admin/bookies.md
  site3/website/versioned_docs/version-4.14.5/admin/decomission.md
  site3/website/versioned_docs/version-4.14.5/admin/geo-replication.md
  site3/website/versioned_docs/version-4.14.5/admin/http.md
  site3/website/versioned_docs/version-4.14.5/admin/metrics.md
  site3/website/versioned_docs/version-4.14.5/admin/perf.md
  site3/website/versioned_docs/version-4.14.5/admin/placement.md
  site3/website/versioned_docs/version-4.14.5/admin/upgrade.md
  site3/website/versioned_docs/version-4.14.5/api/distributedlog-api.md
  site3/website/versioned_docs/version-4.14.5/api/ledger-adv-api.md
  site3/website/versioned_docs/version-4.14.5/api/ledger-api.md
  site3/website/versioned_docs/version-4.14.5/api/overview.md
  site3/website/versioned_docs/version-4.14.5/deployment/dcos.md
  site3/website/versioned_docs/version-4.14.5/deployment/kubernetes.md
  site3/website/versioned_docs/version-4.14.5/deployment/manual.md
  site3/website/versioned_docs/version-4.14.5/development/codebase.md
  site3/website/versioned_docs/version-4.14.5/development/protocol.md
  site3/website/versioned_docs/version-4.14.5/getting-started/concepts.md
  site3/website/versioned_docs/version-4.14.5/getting-started/installation.md
  site3/website/versioned_docs/version-4.14.5/getting-started/run-locally.md
  site3/website/versioned_docs/version-4.14.5/overview/overview.md
  site3/website/versioned_docs/version-4.14.5/reference/cli.md
  site3/website/versioned_docs/version-4.14.5/reference/config.md
  site3/website/versioned_docs/version-4.14.5/reference/metrics.md
  site3/website/versioned_docs/version-4.14.5/security/overview.md
  site3/website/versioned_docs/version-4.14.5/security/sasl.md
  site3/website/versioned_docs/version-4.14.5/security/tls.md
  site3/website/versioned_docs/version-4.14.5/security/zookeeper.md
  site3/website/versioned_sidebars/version-4.14.5-sidebars.json
  site3/website/versions.json
Labels: area/website, release/4.14.5

#3277 [doc] Improve release guide
  .github/workflows/website-pr-validation.yml
  site3/website/src/pages/community/release-guide.md
Labels: area/documentation

#3297 Fix javadoc and build warnings
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BKException.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ClientConfiguration.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ServerConfiguration.java
  tests/scripts/pom.xml
Labels: area/build
