Repository apache/bookkeeper, pull requests merged in 2023-07, with the labels that each got.

#3999 Upgrade Netty to 4.1.94.Final to address CVE-2023-34462
  bookkeeper-dist/src/assemble/bin-all.xml
  bookkeeper-dist/src/assemble/bin-server.xml
  bookkeeper-dist/src/assemble/bkctl.xml
  bookkeeper-dist/src/main/resources/LICENSE-all.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-bkctl.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-server.bin.txt
  bookkeeper-dist/src/main/resources/NOTICE-all.bin.txt
  bookkeeper-dist/src/main/resources/NOTICE-bkctl.bin.txt
  bookkeeper-dist/src/main/resources/NOTICE-server.bin.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.aalto-xml.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.base64.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.bouncycastle.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.caliper.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.commons-lang.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.commons-logging.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.compress-lzf.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.dnsinfo.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.harmony.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.hpack.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.hyper-hpack.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.jboss-marshalling.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.jbzip2.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.jctools.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.jfastlz.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.jsr166y.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.jzlib.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.libdivsufsort.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.log4j.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.lz4.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.lzma-java.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.mvn-wrapper.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.nghttp2-hpack.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.protobuf.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.slf4j.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.snappy.txt
  bookkeeper-dist/src/main/resources/deps/netty/LICENSE.webbit.txt
  bookkeeper-dist/src/main/resources/deps/netty/NOTICE.harmony.txt
  pom.xml
Labels: dependencies, release/4.15.5, release/4.16.3

#4002 Release note 4.16.2
  site3/website/src/pages/release-notes.md
  site3/website/versioned_docs/version-4.16.2/admin/autorecovery.md
  site3/website/versioned_docs/version-4.16.2/admin/bookies.md
  site3/website/versioned_docs/version-4.16.2/admin/decomission.md
  site3/website/versioned_docs/version-4.16.2/admin/geo-replication.md
  site3/website/versioned_docs/version-4.16.2/admin/http.md
  site3/website/versioned_docs/version-4.16.2/admin/metrics.md
  site3/website/versioned_docs/version-4.16.2/admin/perf.md
  site3/website/versioned_docs/version-4.16.2/admin/placement.md
  site3/website/versioned_docs/version-4.16.2/admin/upgrade.md
  site3/website/versioned_docs/version-4.16.2/api/distributedlog-api.md
  site3/website/versioned_docs/version-4.16.2/api/ledger-adv-api.md
  site3/website/versioned_docs/version-4.16.2/api/ledger-api.md
  site3/website/versioned_docs/version-4.16.2/api/overview.md
  site3/website/versioned_docs/version-4.16.2/deployment/kubernetes.md
  site3/website/versioned_docs/version-4.16.2/deployment/manual.md
  site3/website/versioned_docs/version-4.16.2/development/codebase.md
  site3/website/versioned_docs/version-4.16.2/development/protocol.md
  site3/website/versioned_docs/version-4.16.2/getting-started/concepts.md
  site3/website/versioned_docs/version-4.16.2/getting-started/installation.md
  site3/website/versioned_docs/version-4.16.2/getting-started/run-locally.md
  site3/website/versioned_docs/version-4.16.2/overview/overview.md
  site3/website/versioned_docs/version-4.16.2/reference/cli.md
  site3/website/versioned_docs/version-4.16.2/reference/config.md
  site3/website/versioned_docs/version-4.16.2/security/overview.md
  site3/website/versioned_docs/version-4.16.2/security/sasl.md
  site3/website/versioned_docs/version-4.16.2/security/tls.md
  site3/website/versioned_docs/version-4.16.2/security/zookeeper.md
  site3/website/versioned_sidebars/version-4.16.2-sidebars.json
  site3/website/versions.json
Labels: area/website, release/4.16.2

#4008 Bump guava version from 31.0.1-jre to 32.0.1-jre
  bookkeeper-dist/src/main/resources/LICENSE-all.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-bkctl.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-server.bin.txt
  pom.xml
Labels: dependencies, release/4.15.5, release/4.16.3

#3965 [fix] Keep entryLogMeta when entryLogFile deletion fails
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookKeeperServerStats.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/DefaultEntryLogger.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/GarbageCollectorThread.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/stats/GarbageCollectorStats.java
Labels: type/bug, area/bookie

#4007 Recycle LongWrapper finally to avoid memory leak
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/LedgerMetadataIndex.java
Labels: type/bug, release/4.14.8, release/4.15.5, release/4.16.3

#4004 [improve] Add ClusterInfo shell Command
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/tools/cli/commands/bookies/ClusterInfoCommand.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/BookieShellTest.java
  bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/ClusterInfoCommandTest.java
Labels: area/bookie, type/improvement

#4029 fix latest_release to 4.16.2
  site3/website/docusaurus.config.js
Labels: area/website

#4026 Fix deletedLedgers count
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/LedgerMetadataIndex.java
Labels: release/4.15.5, release/4.16.3, release/4.14.9
