Repository apache/bookkeeper, pull requests merged in 2024-09, with the labels that each got.

#4496 Rename the client high priority thread pool
  bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeper.java
Labels: area/client

#4384 improve: Enrich GC metrics to better analyze GC behavior and the time consumption of each phase.
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookKeeperServerStats.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/GarbageCollectorThread.java
  bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/stats/GarbageCollectorStats.java
Labels: area/bookie, area/stats

#4502 Upgrade to Netty 4.1.113.Final and netty-tcnative 2.0.66.Final
  bookkeeper-dist/src/main/resources/LICENSE-all.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-bkctl.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-server.bin.txt
  bookkeeper-dist/src/main/resources/NOTICE-all.bin.txt
  bookkeeper-dist/src/main/resources/NOTICE-bkctl.bin.txt
  bookkeeper-dist/src/main/resources/NOTICE-server.bin.txt
  pom.xml
Labels: release/4.16.7, release/4.17.2

#4508 Upgrade protobuf to 3.25.5 to address CVE-2024-7254
  bookkeeper-dist/src/main/resources/LICENSE-all.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-bkctl.bin.txt
  bookkeeper-dist/src/main/resources/LICENSE-server.bin.txt
  pom.xml
Labels: release/4.16.7, release/4.17.2
